@import 'variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway";
}

body{
    background-color: $background-color-dark;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__img{
       max-width: 150px;
       width: 80%;
    }

    &__title{
        color: rgba(255,255,255,0.7);
        font-size: 1em;
        margin-top: 1rem;
        text-align: center;
        padding-left: 1rem;
        width: 100%;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 300px){
    .container{
        &__title{
            font-size: 1.5em;
        }
    }
}

@media screen and (min-width: 768px){
    .container{
        &__title{
            font-size: 2em;
        }
    }
}

@media screen and (min-width: 1500px){
    .container{
        &__title{
            font-size: 3em;
        }
    }
}

@media screen and (min-height: 281px){
    .container{
        &__img{
            max-width: 250px;
        }
    }
}