$primary-color: #1760BF;
$secondary-color: #FFC107;
$background-color: #F5F5F5;
$text-color: #333;
$text-color-light: #666;
$text-color-dark: #111;
$text-color-light-dark: #999;
$text-color-dark-light: #fff;
$background-color-dark: #141A26;
$text-light: #fff;

.empty{
    color: $secondary-color;
}