@import 'variables';

body{
    background-color: $background-color-dark;
    color: $secondary-color;
    overflow-x: hidden;
}

.title{
    text-align: center;
    font-family: 'IBM Plex Sans';
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 2em;
}

.container { 
    padding: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    margin-top:1rem;
    justify-content: center;
}

.container1{
    margin-top: 0;
    margin-bottom: 1rem;
}

.bg1, .bg2, .bg3 { 
    height: 100%; 
}

.bg1 { 
    background-color: #ff3907; width: 10%;
}

.bg2 { 
    background-color: #0fff07; width: 50%;
}

.bg3 { 
    background-color: #ff3907; width: 40%;
}

.dashboard{

    &__patient{
        margin-bottom: 4rem;
    }
    
    &__patient-personal{
        text-align: center;
        padding-bottom: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;

        button{
            width: 80%;
            height: 40px;
            font-size: 1.1em;
            background-color: $secondary-color;
            color: $background-color-dark;
            border: none;
            outline: none;
            margin-top: 2rem;
            border-radius: 6px;

            &:hover{
                background-color: darken($secondary-color, 10%);
            }
        }

        h3{
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    #qrcode-generated{
        margin-top: 3rem;   
    }

    &__health-stat{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    &__labels{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__health-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, 350px);
        grid-row-gap: 5rem;
        grid-column-gap: 4rem;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        list-style: none;
        margin-top: 4rem;
    }

    &__category{
        margin: 0 auto;
        margin-top: 2rem;
        width: 100%;
        text-align: center;
    }

    &__health-item{
        width: 350px;
        margin: 0 auto;
        
        h4{
            font-size: 1.3em;
            width: 100%;
            margin-bottom: 2.5rem;
        }
    }

    .container{
        width: 350px;
    }

    .slider{
        width: 350px;
    }

    hr{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .heading{
        width: 100%;
        text-align: center;
        font-size: 2em;
    }
}

.safe{
    color: #0fff07;
}

.warning{
    color: 	#ffcc00;
}

.danger{
    color: #ff3907;
}

.bdl-safe{
    color: #c4da05;
}

.bdl-danger{
    color: #ff9307;
}


@media screen and (min-width: 780px) {

    .dashboard{
        &__patient-personal{
            text-align: left;
            button{
                width: 100%;
            }
        }
    }
    
    hr{
        display: none;
    }

    .dashboard{

        &__patient-personal{
            width: 80vw;
            margin: 0 auto;
            border: 2px solid $secondary-color;
            border-radius: 6px;
            margin-top: 2rem;
            padding: 2rem;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
            h3{
                width: 100%;
            }
        }
        #qrcode-generated{
            margin-top: 0;
        }
    }
}

.search_public{

    &__title{
        margin-top: 4rem;
        margin-bottom: 3rem;
        font-size: 2em;
        text-align: center;
    }

    &__form{
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__field{
        width: 80%;
        border:none;
        outline: none;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom: 2px solid $secondary-color;
        height: 40px;
        font-size: 1.1em;
        padding-left: 8px;
        padding-right: 8px;
    }

    &__btn{
        width: 20%;
        height: 40px;
        background-color: $secondary-color;    
        color: $background-color-dark;
        transition: all ease-in-out 500ms;
        border: none;
        outline: none;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;

        &:hover{
            background-color: darken($secondary-color, 10%);
        }
    }
}

@media screen and (min-width: 1300px) {
    .dashboard{
        &__patient-personal{
            width: 60vw !important;
        }
    }

    .search_public{
        &__form{
            width: 60%;
        }
    }
}

@media screen and (min-width: 1900px) {
    .dashboard{
        &__patient-personal{
            width: 50vw !important;
        }
    }

    .search_public{
        &__form{
            width: 50%;
        }
    }
}
