@import "variables";

body{
    background-color: $background-color-dark;
    color: $secondary-color;
    overflow-x: hidden;
}

.title{
    text-align: center;
    font-family: 'IBM Plex Sans';
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#files_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-row-gap: 2rem;
    grid-column-gap: 4rem;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    list-style: none;
    margin-bottom: 4rem;
}

.file_card{
    width: 300px;
    border: 2px solid $secondary-color;
    border-radius: 0.5rem;
    background-color: lighten($background-color-dark, 10%);
    padding: 0;
    padding-bottom: 2rem;
}

.inside_file_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a{
        width: 100%;
        color: $secondary-color;
        &:hover{
            color: darken($secondary-color, 20%);
        }
    }

    h5{
        text-align: center;
        margin-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 290px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    h6{
        text-align: center;
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.files_container{
    &__img-card{
        height: 250px;
        width: 100%;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        background-size: cover;
        background-position: center;
    }
}


.delete_file_modal{
    display: none;
}

.delete_file{
    width: 90%;
    outline: none;
    border: none;
    background-color: $secondary-color;
    border-radius: 0.5rem;
    line-height: 40px;
    border: 2px solid $secondary-color;
    font-size: 1em;
    margin-top: 1rem;
    transition: all ease-in-out 500ms;

    &:hover{
        background-color: darken($secondary-color, 10%);
        border: 2px solid darken($secondary-color, 10%);
    }
}

.edit_file{
    width: 90%;
    outline: none;
    border: none;
    background-color: $secondary-color;
    border-radius: 0.5rem;
    line-height: 40px;
    border: 2px solid $secondary-color;
    font-size: 1em;
    margin-top: 1rem;
    transition: all ease-in-out 500ms;

    &:hover{
        background-color: darken($secondary-color, 10%);
        border: 2px solid darken($secondary-color, 10%);
    }
}

.modal_header{
    padding-top: 2rem;
    padding-bottom: 1rem;
    .modal_title{
        margin: 0;
        padding: 0;
    }
}

.modal-body{
    display: flex;
    flex-direction: column;
    padding: 0;
    p{
        text-align: center;
        width: 290px;
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        word-break: break-all;
    }

    p:last-child{
        font-weight: bold;
        font-size: 1.1em;
    }
}

.modal_footer{
    width: 290px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    button{
        width: 40%;
        outline: none;
        border: none;
        line-height: 40px;
    }

    button:first-child{
        background-color: $secondary-color;
        color: $text-color-dark;
        border-radius: 0.5rem;
        border: 2px solid $secondary-color;
        transition: all ease-in-out 500ms;

        &:hover{
            background-color: darken($secondary-color, 20%);
            border: 2px solid darken($secondary-color, 20%);
        }
    }

    button:last-child{
        background-color: red;
        color: white;
        border-radius: 0.5rem;
        border: 2px solid red;
        transition: all 0.5s ease-in-out;
        
        &:hover{
            background-color: darken(red, 20%);
            border: 2px solid darken(red, 20%);
        }
    }
}

.action-btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 290px;

    button{
        width: 40%;
    }
}