@import 'variables';

.login-title{
    color: $secondary-color;
    margin-bottom: 1rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

p{
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.login-logo{
  width: 40%;
  margin-bottom: 1rem;

  &:hover{
    cursor: pointer;
  }
}

.login-error{
  margin-top: 1rem;
  color: $secondary-color;
  margin-bottom: 2rem;
}

body{
  padding-top: 0;
}

.nav{
  display: none;
}

.errorlist li{
  color: $secondary-color;
}

.back {
    width: 100vw;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: -999;

    .backLeft {
        width: 50%;
        height: 100vh;
        background: #3498db
          url(https://images.unsplash.com/photo-1530497610245-94d3c16cda28?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
        background-size: cover;
        position: absolute;
        left: 0;
      }
      
      .backRight {
        width: 50%;
        position: absolute;
        right: 0;
        height: 100vh;
        background: #e74c3c
          url(https://images.unsplash.com/photo-1576091160501-bbe57469278b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        filter: blur(2px) brightness(0.75);
        background-size: cover;
        background-position: center;
      }
}
  
  #slideBox {
    width: 50%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 50%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .topLayer {
    width: 200%;
    height: 100%;
    position: relative;
    left: -100%;
  }
  
  .left {
    width: 50%;
    height: 100%;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    position: absolute;
    color: white;

    label{
        color: $secondary-color;
        font-size: 1.25em;
    }

    form input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"] {
      transition-duration: 1s;
      display: block;
      border: none;
      background-color: none;
      border-radius: 6px;
      line-height: 40px;
      border: 1px solid #ccc;
      border-bottom: 3px solid $secondary-color;
      min-width: 30vw;
      padding-left: 8px;
      font-size: 1em;
      margin-bottom: 2rem;
      margin-top: 0.5rem;
      outline: none;
    }

    a{
        color: $secondary-color;
        font-size: 1.1em;
        transition: 500ms ease-in-out all;

        &:hover{
            color: darken($secondary-color, 10%);
        }
    }

    p{
        font-size: 1.15em;
        color: $text-color-dark-light;
    }

    form input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"] {
      transition-duration: 1s;
      display: block;
      border: none;
      background-color: none;
      border-radius: 6px;
      line-height: 40px;
      border: 1px solid #ccc;
      border-bottom: 3px solid $secondary-color;
      min-width: 30vw;
      padding-left: 8px;
      font-size: 1em;
      margin-bottom: 2rem;
      margin-top: 0.5rem;
      outline: none;
    }

     form input[type="submit"] {
        outline: none;
        border: none;
        background-color: $secondary-color;
        border-radius: 0.5rem;
        line-height: 40px;
        border: 2px solid $secondary-color;
        min-width: 30vw;
        padding-left: 8px;
        color: $text-color-dark;
        transition: all ease-in-out 500ms;
      }
  }
  
  .right {
    width: 50%;
    height: 100%;
    background-color: $background-color-dark;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

    label{
        color: $secondary-color;
        font-size: 1.25em;
    }

    a{
        color: $secondary-color;
        font-size: 1.1em;
        transition: 500ms ease-in-out all;

        &:hover{
            color: darken($secondary-color, 10%);
        }
    }

    p{
        font-size: 1.15em;
        color: $text-color-dark-light;
    }

    form input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"] {
      transition-duration: 1s;
      display: block;
      border: none;
      background-color: none;
      border-radius: 6px;
      line-height: 40px;
      border: 1px solid #ccc;
      border-bottom: 3px solid $secondary-color;
      min-width: 30vw;
      padding-left: 8px;
      font-size: 1em;
      margin-bottom: 2rem;
      margin-top: 0.5rem;
      outline: none;
    }
  }
  
  form input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus {
    transition-duration: 1s;
    border-bottom: 3px solid red;
    min-width: 30vw;
  }
  
  label {
    margin-bottom: 4px;
    max-width: 30vw;
  }
  
  form input[type="submit"],
  button {
    min-width: 30vw;
  }
  
  form input[type="submit"] {
    outline: none;
    border: none;
    background-color: $secondary-color;
    border-radius: 0.5rem;
    line-height: 40px;
    border: 2px solid $secondary-color;
    min-width: 30vw;
    padding-left: 8px;
    color: $background-color-dark;
    transition: all ease-in-out 500ms;
  }
  
  #goRight {
    margin-top: 2rem;
    outline: none;
    border: none;
    background-color: $secondary-color;
    border-radius: 0.5rem;
    line-height: 40px;
    border: 2px solid $secondary-color;
    min-width: 30vw;
    padding-left: 8px;
    margin-bottom: 1rem;
    color: $text-color-dark;
    transition: all ease-in-out 500ms;
  }
  
  #goRight:hover {
    background-color: darken($secondary-color, 10%);
    border: 2px solid darken($secondary-color, 10%);
    color: $text-color-dark;
  }

  form input[type="submit"]:hover {
    background-color: darken($secondary-color, 10%);
    border: 2px solid darken($secondary-color, 10%);
    color: $text-color-dark;
  }
  
  #goLeft {
    margin-top: 2rem;
    outline: none;
    border: none;
    background-color: $secondary-color;
    border-radius: 0.5rem;
    line-height: 40px;
    border: 2px solid $secondary-color;
    min-width: 30vw;
    padding-left: 8px;
    margin-bottom: 1rem;
    color: $text-color-dark;
    transition: all ease-in-out 500ms;
  }
  
  #goLeft:hover {
    background-color: darken($secondary-color, 10%);
    color: $text-color-dark;
    border: 2px solid darken($secondary-color, 10%);
  }
  
  p {
    margin-top: 1rem;
  }
  
@media screen and (max-width: 929px){

  #slideBox {
    width: 100%;
    margin-left: 0%;
  }

  form{
    width: 80%;
  }

  .right label, .left label{width: 100%;}

  label{
    max-width: 100%;
  }

  input{
    width: 100%;
  }

  button{
    width: 80%;
  }
}

@media screen and (max-height: 750px){
  .right, .left{
    justify-content: flex-start;
    padding-top: 4rem;
    padding-bottom: 4rem;
    overflow-y: scroll;
  }
  .login-title{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}