@import 'variables';

.nav {
    display: flex;
    width: 100vw;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 1;
    &__title-bar {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        background-color: black;
    }
    &__link-list-div {
        max-height: 0px;
        transform: translateY(-500px);
        background-color: black;
    }
    &__link-list {
        list-style: none;
        width: 100%;
    }
    &__link-item {
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: center;
        a {
            text-decoration: none;
            color: $text-light;
            font-family: 'Raleway';
            font-weight: 500;
            font-size: 1.3em;
            &:hover {
                color: $secondary-color;
                transition: all ease-in-out 500ms;
                cursor: pointer;
            }
        }
    }
    &__burger {
        display: inline-flex;
        flex-direction: column;
        &:hover {
            cursor: pointer;
        }
    }
    .nav__burger:hover .nav__line {
        transition: all ease-in-out 500ms;
        background-color: $secondary-color;
    }
    &__line {
        margin-top: 7px;
        background-color: white;
        width: 35px;
        height: 3px;
    }

    &__search-field{
        width: 250px;
        height: 40px;
        padding-left: 0.5rem;
        border:none;
        outline: none;
        border-radius: 4px;
        border-bottom: 2px solid $secondary-color;
    }


    &__logo{
        margin-left: 1rem;
    }

    &__btn{
        width: 15%;
        height: 40px;
        outline: none;
        border: none;
        background-color: $secondary-color;
        border-radius: 4px;
    }
}

.active {
    max-height: 425px;
    height: 425px;
    transition: all ease-in-out 500ms;
    transform: translateY(0px);
}

@media screen and (min-width: 1252px) {
    .nav {
        flex-direction: row;
        &__burger {
            display: none;
        }
        &__title-bar {
            padding-right: 0;
        }
        &__link-list-div {
            max-height: 335px;
            transform: translateY(0px);
            display: flex;
            align-items: center;
            width: calc(100% - 161.94px - 2rem);
        }

        &__logo{
            margin-left: 2rem;
        }

        &__link-list {
            margin-bottom: 0;
            display: flex;
            justify-content: flex-end;
        }
        &__link-item {
            width: auto;
            margin-right: 2rem;
            text-align: right;
            a {
                font-size: 1.2em;
            }
        }

        &__search-form{
            height: 100%;
        }

        &__search-field{
            width: 80%;
            height: 100%;
            padding-left: 0.5rem;
            border:none;
            outline: none;
            border-radius: 4px;
            border-bottom: 2px solid $secondary-color;
        }

        &__btn{
            width: 15%;
            height: 100%;
            outline: none;
            border: none;
            background-color: $secondary-color;
            border-radius: 4px;
        }
    }
}

@media screen and (max-height: 434px){
    .active{
        max-height: calc(100vh - 82px);
        height: calc(100vh - 82px);
        overflow-y: scroll;
    }
}