{% extends 'covid/layout.html' %}
{% load static %}
{% block styling %}<link href="{% static 'covid/scss/main.css' %}" rel="stylesheet" />{% endblock %}
{% block body %}
        <main class="immunity">
            <h2 class="immunity__title">How to Build Immunity?</h2>
            <div class="immunity__content">
                <p class="immunity__paragraph">A good immunity is essential to combat a coronavirus infection. While it is essential to follow 
                    general norms such as <strong>washing hands frequently and wearing masks</strong>, having good immunity is 
                    necessary to effectively combat an infection.
                </p>
                <ol id="first" class="immunity__list">
                    <li class="immunity__list-heading">Don’t skip on exercising</li>
                    <ul class="immunity__sublist">
                        <li>Remember to exercise regularly. Light exercising can go a long way in removing toxins 
                            from the body. Doctors recommend exercising daily for 30-45 mins. 
                        </li>
                    </ul>
                    <li class="immunity__list-heading">Stay hydrated</li>
                    <ul class="immunity__sublist">
                        <li>Drink 8-10 glasses of water everyday. This helps flush out toxins from the body. <!--write another point-->
                        </li>
                    </ul>
                    <li class="immunity__list-heading">Don’t compromise on sleep</li>
                    <ul class="immunity__sublist">
                        <li>7-8 hrs of sleep time is necessary to build good immunity. Lesser sleep will impair 
                            brain activity and other metabolic functions which will directly impact immunity. 
                        </li>
                    </ul>
                    <li class="immunity__list-heading">Improve your diet</li>
                    <ul class="immunity__sublist">
                        <li>Cut down on sugars and carbs. Eating low carb diets is essential as this will help 
                            keep blood pressure and sugar under control.
                        </li>
                        <li>Regularly consume fruits and vegetables that  are rich in Beta carotene and ascorbic 
                            acid and other essential vitamins.            
                        </li>
                        <li>Certain foods like mushrooms, bell peppers, broccoli, tomato and spinach are good 
                            options to build resilience against infections. 
                        </li>
                        <li>Probiotics such as yogurt, curds and fermented food help rejuvenate the gut bacteria.
                        </li>
                    </ul>
                </ol>
            </div>
            <hr/>
            <h2 class="immunity__title">Immunity Building Foods</h2>
            <div class="immunity__content" id="container">
                <ul class="immunity__list">
                    <li><b>Elderberry</b> - Elderberries are full of nutrients including minerals like phosphorus, 
                        potassium, iron, copper and vitamins, such as vitamin A, B, and C, proteins and dietary 
                        fibre. Elderberries have antibacterial and antiviral qualities which help fight cold and 
                        influenza.
                    </li>
                    <li><b>Turmeric and Garlic</b> - Turmeric contains a compound called curcumin, which boosts the immune
                        function. Garlic has powerful anti-inflammatory and antiviral properties which enhances body 
                        immunity.
                    </li>
                    <li><b>Zinc</b> - Zinc is a vital component to WBC (white blood corpuscles) which fights infections. 
                        Zinc deficiency often makes one more susceptible to flu, cold and other viral infections. 
                        It is advisable to take a zinc supplement, especially for older people.
                    </li> <!--add more foods-->
                </ul>
            </div>
            <hr/>
            <h2 class="immunity__title">Immunity Building Foods (MOHFW & Ministry of Ayush)</h2>
            <div class="immunity__content">
                <ol type="I" class="govt immunity__list">
                    <li><h3 class="immunity__subheading">General Measures</h3></li>
                    <ol class="immunity__sublist">
                        <li>Drink warm water throughout the day.</li>
                        <li>Spices like Haldi (Turmeric), Jeera (Cumin), Dhaniya (Coriander) and
                            Lahsun (Garlic) are recommended in cooking. </li>
                    </ol>
                    <li><h3 class="immunity__subheading">Ayurvedic Immunity Promoting Measures</h3></li>
                    <ol class="immunity__sublist">
                        <li>Take Chyavanprash 10gm (1tsf) in the morning. Diabetics should take sugar
                            free Chyavanprash.</li>
                        <li>Drink herbal tea / decoction (Kadha) made from Tulsi (Basil), Dalchini
                            (Cinnamon), Kalimirch (Black pepper), Shunthi (Dry Ginger) and Munakka
                            (Raisin) - once or twice a day. Add jaggery (natural sugar) and / or fresh
                            lemon juice to your taste, if needed.</li>
                        <li>Golden Milk- Half tea spoon Haldi (turmeric) powder in 150 ml hot milk -
                            once or twice a day.</li>
                    </ol>
                    <li><h3 class="immunity__subheading">Ayurvedic Immunity Promoting Measures</h3></li>
                    <ol class="immunity__sublist">
                        <li><strong>Nasal application</strong>- Apply sesame oil / coconut oil or Ghee in both the
                            nostrils (Pratimarsh Nasya) in morning and evening.</li>
                        <li><strong>Oil pulling therapy</strong>- Take 1 table spoon sesame or coconut oil in mouth. Do
                            not drink, Swish in the mouth for 2 to 3 minutes and spit it off followed by
                            warm water rinse. This can be done once or twice a day.</li>
                    </ol>
                    <li><h3 class="immunity__subheading">During dry cough/sore throat</h3></li>
                    <ol class="immunity__sublist">
                        <li>Steam inhalation with fresh Pudina (Mint) leaves or Ajwain (Caraway seeds)
                            can be practiced once in a day.</li>
                        <li>Lavang (Clove) powder mixed with natural sugar/honey can be taken 2-3
                            times a day in case of cough or throat irritation.</li>
                        <li>These measures generally treat normal dry cough and sore throat. However,
                            it is best to consult doctors if these symptoms persist.</li>
                    </ol>
                </ol>
            </div>
        </main>
{% endblock %}