<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Covid-19 Info">
        <title>Covid-19 Info</title>
        <link rel="icon" href="images/mycomlogofinal.png" type="image/png">
        <link rel="stylesheet" href="heading.css">
        <meta name="viewpoint" content="width=device-width, initial scale=1.0">
        <style>
            .r {
                display: flex;
                flex-wrap: wrap;
                text-align: center;
            }

            .c {
                width: 300px;
            }

            .c>a>img:hover {
                transform: scale(1.2);
                transition: 0.5s;
            }
        </style>
    </head>
    <body style="background-color: aliceblue;">
        <header>
            <div style="text-align: center;">
                <img width="250" src="images/OneCommunity.png" alt="One Community Logo">
            </div>
            <br><br><br>
            <div class="row">
                <div class="column">
                    <a href="index.html"><img width="50" src="images/mt.png" alt="Menu Page"></a>
                </div>
                <div class="column">
                    <a href="bed_status3.html"><img width="50" src="images/hbt.png" alt="Live Covid Bed Status"></a>
                </div>
                <div class="column">
                    <a href="build_immunity.html"><img width="50" src="images/byit.png" alt="Build Immune System"></a>
                </div>
                <div class="column">
                    <a href="follow_norms.html"><img width="50" src="images/fnt.png" alt="Following these Norms?"></a>
                </div>
                <div class="column">
                    <a href="covid_resources.html"><img width="50" src="images/rt.png" alt="Covid-19 Resources"></a>
                </div>
            </div>
            <br>
            <h1 style="text-align: center; font-family: ubuntu, 'Segoe UI', sans-serif;">Covid-19 Info</h1>
            <h2 style="text-align: center; font-family: ubuntu, 'Segoe UI', sans-serif;">Choose an option:</h2>
        </header>
        <main>
            <br><br>
            <div class="r">
                <div class="c"><a href="vaccination_faq.html"><img width="100" src="images/vfqt.png" alt="Vaccination FAQ"></a></div>
                <div class="c"><a href="covid_mythbusters.html"><img width="100" src="images/mbt.png" alt="Covid-19 Mythbusters"></a></div>
                <div class="c"><a href="covid_trivia.html"><img width="100" src="images/ctt.png" alt="Covid-19 Trivia"></a></div>
                <div class="c"><a href="black_fungus.html"><img width="100" src="images/bft.png" alt="Black Fungus Info"></a></div>
            </div>
        </main>
        <br>
        <footer>
            <div style="text-align: center; font-family: ubuntu, 'Segoe UI', sans-serif; background-color: navy; color: white; padding: 0.2%;">
                <p>By Amog Rao (Web Dev) and Yasasvat Vummidi (Content)</p>
                <p>&copy; 2021 One Community</p>
            </div>
        </footer>
    </body>

</html>