{% extends 'covid/layout.html' %}
{% load static %}
{% block styling %}<link href="{% static 'covid/scss/main.css' %}" rel="stylesheet" />{% endblock %}
{% block body %}
    <main class="mythbusters">
        <h1 class="title">Covid Mythbusters</h1>
        <section class="mythbusters__container">
            <li class="mythbusters__myth">MYTH - Alcohol based sanitisers are unsafe and cannot be used often.</li>
            <li class="mythbusters__fact">FACT - Alcohol based sanitisers are safe for everyone to use and do not create any relevant health issues. These sanitisers can be used often as they don't pose any side-effects nor do they lead to antibiotic resistance.</li>
            <hr/>
        </section>
        <section class="mythbusters__container">
            <li class="mythbusters__myth">MYTH - Vitamins and mineral supplements(capsules) can cure COVID-19.</li>
            <li class="mythbusters__fact">FACT - Vitamins and mineral supplements cannot cure COVID-19. However, they can help boost your immunity.</li>
            <hr/>
        </section>
        <section class="mythbusters__container">
            <li class="mythbusters__myth">MYTH - One should always wear masks even during exercising.</li>
            <li class="mythbusters__fact">FACT - One should not wear a mask while exercising since it reduces air circulation and can lead to oxygen deficiency. Sweat makes the mask wet and it can become the site of microbial growth. </li>   
            <hr/>
        </section>
        <section class="mythbusters__container">
            <li class="mythbusters__myth">MYTH - Thermal scanners can be used to detect COVID-19.</li>
            <li class="mythbusters__fact">FACT - Thermal scanners cannot detect COVID-19 and can only detect temperature. It can be used to detect fevers. </li>
            <hr/>
        </section>
        <section class="mythbusters__container">
            <li class="mythbusters__myth">MYTH - A pneumonia vaccine is sufficient to prevent COVID-19 infection.</li>
            <li class="mythbusters__fact">FACT - Vaccines against pneumonia will not protect you against COVID-19 virus.</li>
            <hr/>
        </section>
        <section class="mythbusters__container">
            <li class="mythbusters__myth">MYTH - Antibiotics can be used to treat COVID-19 infections and symptoms.</li>
            <li class="mythbusters__fact">FACT - Antibiotics are not effective against COVID-19 virus. Antibiotics are only effective against bacterial infections. </li>
        </section>
    </main>
{% endblock %}