<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Menu Page">
        <meta name="google-site-verification" content="QRK_MCEZslsvzspp4QIEJth4cqDOrUiRYZFfYGRaXnk" />
        <title>One Community Covid-19</title>
        <link rel="icon" href="images/mycomlogofinal.png" type="image/png"> 
        <style>
            .row {
                display: flex;
                flex-wrap: wrap;
                text-align: center;
            }

            .column {
                width: 240px;
            }

            .column>a>img:hover {
                transform: scale(1.2);
                transition: 0.5s;
            }
            main {
                padding-left: 20px;
                padding-right: 20px;
            }
            </style>
    </head>
    <body style="background-color: aliceblue;">
        <header>
            <div style="text-align: center;"><img width="250" src="images/OneCommunity.png" alt="One Community Logo" /></div>
            <h1 style="text-align: center; font-family: ubuntu, 'Segoe UI', sans-serif;">Menu</h1>
            <h3 style="text-align: center; font-family: ubuntu, 'Segoe UI', sans-serif;">Choose an option: </h3>
            <br><br>
        </header>
        <main>
            <div class="row">
                <div class="column">
                    <a href="bed_status3.html"><img width="100" src="images/hbt.png" alt="Live Bed Status"></a>
                </div>
                <div class="column">
                    <a href="build_immunity.html"><img width="100" src="images/byit.png" alt="Build Immune System"></a>
                </div>
                <div class="column">
                    <a href="covid_info.html"><img width="100" src="images/cit.png" alt="Covid-19 Facts"></a>
                </div>
                <div class="column">
                    <a href="follow_norms.html"><img width="100" src="images/fnt.png" alt="Following these Norms?"></a>
                </div>
                <div class="column">
                    <a href="covid_resources.html"><img width="100" src="images/rt.png" alt="Covid-19 Resources"></a>
                </div>
            </div>
            <br>
            <p style="font-family: ubuntu, 'Segoe UI', sans-serif; text-align: center;">One Community is a <b>Student Founded Organization</b> that develops apps and websites 
                for the benefit of the people. 
            </p>
            <p style="font-family: ubuntu, 'Segoe UI', sans-serif; text-align: center;">This new website is focused on helping people to fight and win 
                against this pandemic! We have included features like <b>Covid-19 Live Bed Status (Only for Bangalore Residents),<a href="location_bed_status_map.html"> Covid-19 Hospital Map</a>, Covid-19 Resources, Immunity Building Tips, 
                Covid-19 Info  (includes Vaccination FAQ, etc.) and Covid-19 Norms that one should follow.</b>
            </p>
            <p style="font-family: ubuntu, 'Segoe UI', sans-serif; text-align: center;">In case you have some more resources that can help people fight against this pandemic, we request you to mail us at <b>one1commune@gmail.com</b>
            </p>
            <p style="font-family: ubuntu, 'Segoe UI', sans-serif; text-align: center;">Click <a href="feedback.html" target="_blank">here</a> to submit feedback.</p>
            <p style="font-size: xx-small;">Note: This website is not yet completely optimized for mobile screens.</p>
        </main>
        <footer>
            <div style="text-align: center; font-family: ubuntu, 'Segoe UI', sans-serif; background-color: navy; color: white; padding: 0.2%;">
                <p>By Amog Rao (Web Dev) and Yasasvat Vummidi (Content)</p>
                <p>&copy; 2021 One Community</p>
            </div>
        </footer>
    </body>
</html>