{% extends 'covid/layout.html' %}
{% load static %}
{% block title %}COVID-19 Updates{% endblock %}
{% block styling %}<link href="{% static 'covid/scss/main.css' %}" rel="stylesheet" />{% endblock %}
{% block body %}
    <main class="home">
        <h1 class="title">Covid Updates</h1>
        <div class="home__row">
            <a href="./covid/bed_status">
                <div class="home__column">
                    <p class="home__link">Live Bed Status</p>
                </div>
            </a>
            <a href="./covid/immunity">
                <div class="home__column">
                    <p class="home__link">Build Immunity</p>
                </div>
            </a>
            <a href="./covid/mythbusters">
                <div class="home__column">
                    <p class="home__link">Covid-19 Mythbusters</p>
                </div>
            </a>
            <a href="./covid/vaccination">
                <div class="home__column">
                    <p class="home__link">Vaccination FAQs</p>
                </div>
            </a>
            <a href="./covid/norms">
                <div class="home__column">
                    <p class="home__link">Following these Norms?</p>
                </div>
            </a>
        </div>
    </main>
{% endblock %}