<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Covid-19 Trivia">
        <title>Covid-19 Trivia</title>
        <link rel="icon" href="images/mycomlogofinal.png" type="image/png">
        <link rel="stylesheet" href="heading2.css">
        <link rel="stylesheet" href="covid_trivia.css">
        <meta name="viewpoint" content="width=device-width, initial scale=1.0">
    </head>
    <body style="background-color: #f3ccdb;">
        <header>
            <img width="250" src="images/OneCommunity.png" alt="One Community Logo">
            <br><br><br>
            <div class="row">
                <div class="column">
                    <a href="index.html"><img width="50" src="images/mt.png" alt="Menu Page"></a>
                </div>
                <div class="column">
                    <a href="bed_status3.html"><img width="50" src="images/hbt.png" alt="Live Covid Bed Status"></a>
                </div>
                <div class="column">
                    <a href="build_immunity.html"><img width="50" src="images/byit.png" alt="Build Immune System"></a>
                </div>
                <div class="column">
                    <a href="covid_info.html"><img width="50" src="images/cit.png" alt="Covid-19 Info"></a>
                </div>
                <div class="column">
                    <a href="follow_norms.html"><img width="50" src="images/fnt.png" alt="Following these Norms?"></a>
                </div>
                <div class="column">
                    <a href="covid_resources.html"><img width="50" src="images/rt.png" alt="Covid-19 Resources"></a>
                </div>
            </div> 
            <br>
            <h1 style="text-align: center; font-family: ubuntu, 'Segoe UI', sans-serif;">Covid-19 Trivia</h1>
            <br>
        </header>
        <main>
            <article>
                <section>
                    <li>COVID-19,  a name known to all, is an abbreviation of Coronavirus Disease. It is caused 
                        by a newly discovered coronavirus part of the family - Coronaviridae. </li>
                    <li>The COVID-19 virus mainly spreads through droplets of saliva or discharge from the 
                        nose when a person coughs or sneezes.</li>
                    <li>COVID-19 infections give rise to mild symptoms in the majority of the cases and do not 
                        require any special treatment. Older people and persons with co-morbidities are more 
                        vulnerable and may develop serious illnesses. </li>
                </section>
                <section>
                    <li>Some of the most common symptoms include - </li>
                    <ul>
                        <li>Fever or chills</li>
                        <li>Cough</li>
                        <li>Shortness of breath or difficulty breathing</li>
                        <li>Fatigue</li>
                        <li>Muscle or body aches</li>
                        <li>Headache</li>
                        <li>New loss of taste or smell</li>
                        <li>Sore throat</li>
                        <li>Congestion or runny nose</li>
                        <li>Nausea or vomiting</li>
                        <li>Diarrhea</li>
                    </ul>
                </section>
                <section>
                    <li>Covid-19 Origins: </li>
                    <li>To this day, scientists are trying to cotemplate the origins of the virus. 
                        The two prevailing competing theories are that the virus jumped from animals, 
                        possibly originating with bats, to humans, or that it escaped from a virology laboratory in Wuhan, China.</li>
                </section>
            </article>
        </main>
        <footer>
            <div style="text-align: center; font-family: ubuntu, 'Segoe UI', sans-serif; background-color: #290714; color: white; padding: 0.2%;">
                <p>By Amog Rao (Web Dev) and Yasasvat Vummidi (Content)</p>
                <p>&copy; 2021 One Community</p>
            </div>
        </footer>
    </body>
</html>