{% extends 'covid/layout.html' %}
{% load static %}
{% block styling %}
<link href="{% static 'covid/scss/main.css' %}" rel="stylesheet" />
{% endblock %}
{% block body %}
<h1 class="title">Following these Norms?</h1>
<main class="norms">
    <h2 class="norms__title">Masking</h2>
    <p class="norms__subtitle">Masks should be used as part of measures to suppress transmission of COVID-19
        <strong>however,
            the use of masks alone is insufficient to protect oneself against COVID-19.</strong> The appropriate
        use, storage and disposal of masks is also essential.
    </p>
    <h3 class="norms__subheading">How to Wear a Mask: </h3>
    <ul class="norms__list">
        <li>Make sure that your mask covers your nose, mouth and chin. Never use masks with valves.</li>
        <li>Wash masks regularly and thoroughly if its a fabric/cloth mask and dispose medical masks.</li>
        <li>Always wash your hands before wearing your mask.</li>
    </ul>
    <p class="norms__note"><strong></strong>Doctors also recommend double masking - preferably using a fabric/cloth mask
        and a surgical mask
        to ensure better protection. If you can, it's also recommended to wear a face shield on top of your
        mask.</strong>
    </p>
    <h3 class="norms__subheading">In addition to wearing masks, take simple precautions such as:</h3>
    <ul class="norms__list">
        <li>Social distancing and avoiding crowds.</li>
        <li>Keeping rooms well ventilated.</li>
        <li>Washing your hands with soap.</li>
        <li>If meeting someone is necessary, then do it in an open space.</li>
        <li>Make sure to wear a mask in the lift, since this is a common hotspot to spread the virus.</li>
        <li>Try to use toothpicks to press buttons in common spaces.</li>
    </ul>
    <p class="norms__note"><strong>Scientific experiments have shown that airborne transmission is possible and the
            virus can rise
            upto a height of 10ft. Thus, it is essential to stay in well-ventilated rooms/open spaces, avoid
            large crowds and closed spaces(lifts).</strong>
    </p>
    <h3 class="norms__subheading">Basics of hygiene:</h3>
    <ul class="norms__list">
        <li>Avoid touching your eyes, mouth and nose frequently.</li>
        <li>Clean and disinfect surfaces regularly especially those that are frequently touched.</li>
        <li>Regularly clean your hands thoroughly with a sanitiser or with soap and water.</li>
    </ul>
    <h3 class="norms__subheading">Steps to take when you are feeling unwell:</h3>
    <ul class="norms__list">
        <li>Self-isolate at home even if you are facing minor symptoms such as cough or fever. It is important
            to know the full range of
            symptoms. In addition, keep up to date with the improvements in your condition.
        </li>
    </ul>
    <h3 class="norms__subheading">Helpful Videos:</h3>
    <br>
    <div class="yt">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/adB8RW4I3o4" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ciUniZGD4tY" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GEIYCvcOHLw" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</main>
{% endblock %}