{% extends 'covid/layout.html' %}
{% load static %}
{% block title %}Covid-19 Hospital Map{% endblock %}
{% block styling %}
<link href="{% static 'covid/scss/main.css' %}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <h1 class="a-title">Covid-19 Hospital Map (Bangalore City)</h1>
        <div id="legend1">
            <div class="legend2">
                <iframe src="https://www.google.com/maps/d/u/4/embed?mid=1GlZET2XYZ6nMstecvWTIpwMJm_RpGAFT"></iframe>
            </div>
            <h3 class="b-title">Legend</h3>
            <hr/>
            <div class="legend3">
                <div class="legend">
                    <img src="{% static 'covid/img/ph.png' %}" alt="Private Hospitals">
                    <label> - Private Hospitals</label>
                </div>
                <div class="legend">
                    <img src="{% static 'covid/img/gh.png' %}" alt="Government Hospitals">
                    <label> - Government Hospitals</label>
                </div>
                <div class="legend">
                    <img src="{% static 'covid/img/pmc.png' %}" alt="Private Medical Colleges">
                    <label> - Private Medical Colleges</label>
                </div>
                <div class="legend">
                    <img src="{% static 'covid/img/gmc.png' %}" alt="Government Medical Colleges">
                    <label> - Government Medical Colleges</label>
                </div>
                <div class="legend">
                    <img src="{% static 'covid/img/gcc.png' %}" alt="Government Covid Care Centers">
                    <label> - Government Covid Care Centers</label>
                </div>
            </div>
        </div>
{% endblock %}