<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Covid-19 Vaccination FAQ">
        <title>Vaccination FAQ</title>
        <link rel="icon" href="images/mycomlogofinal.png" type="image/png">
        <link rel="stylesheet" href="heading2.css">
        <link rel="stylesheet" href="vaccination_faq.css">
    </head>
    <body style="background-color: #D0E1F9;">
        <header>
            <img width="250" src="images/OneCommunity.png" alt="One Community Logo">
            <br><br><br>
            <div class="row">
                <div class="column">
                    <a href="index.html"><img width="50" src="images/mt.png" alt="Menu Page"></a>
                </div>
                <div class="column">
                    <a href="bed_status3.html"><img width="50" src="images/hbt.png" alt="Live Covid Bed Status"></a>
                </div>
                <div class="column">
                    <a href="build_immunity.html"><img width="50" src="images/byit.png" alt="Build Immune System"></a>
                </div>
                <div class="column">
                    <a href="covid_info.html"><img width="50" src="images/cit.png" alt="Covid-19 Info"></a>
                </div>
                <div class="column">
                    <a href="follow_norms.html"><img width="50" src="images/fnt.png" alt="Following these Norms?"></a>
                </div>
                <div class="column">
                    <a href="covid_resources.html"><img width="50" src="images/rt.png" alt="Covid-19 Resources"></a>
                </div>
            </div> 
            <br>
            <h1 style="text-align: center; font-family: ubuntu, 'Segoe UI', sans-serif;">Vaccination FAQ</h1>
            <br>
        </header>
        <main>
            <article>
                <!--<ul>-->
                    <!-- <section>
                        <li>Q. What are the adverse effects post-vaccination?</li>
                        <li>A. Minor reactions such as fever, swelling at the site of injection, nausea and dizziness.
                            Severe reactions such as high grade fever and allergic reaction.</li>
                    </section> -->
                    <!-- <section>
                        <li>Q. Will I experience side-effects post immunisation?</li>
                        <li>A. It is extremely common to experience side-effects such as fever, nausea, headache and discomfort post immunisation. </li>
                    </section> -->
                    <section>
                        <li>Q. Why should i get vaccinated?</li>
                        <li>A. It is important to get vaccinated so that if you catch the virus, the severity of the symptoms
                            drastically reduces and will prevent you from getting hospitalized.
                        </li>
                    </section>
                    <section>
                        <li>Q. What technology has been used in development of the currently available two vaccines in India?</li>
                        <li>A. Covishield® vaccine, manufactured by the Serum Institute of India, is a Viral Vector-based Technology 
                            which is also used to manufacture Ebola vaccine. </li>
                        <li>Covaxin® vaccine, manufactured by the Bharat Biotech, 
                            is a Whole-virion Inactivated Coronavirus Vaccine which is also used to manufacture vaccines like Influenza, Rabies and Hepatitis- A.</li>
                    </section>
                    <section>
                        <li>Q. What is the composition of both the vaccines?</li>
                        <li>A. Composition of Covishield includes inactivated adenovirus with segments of 
                            Coronavirus, Aluminium Hydroxide Gel, L-Histidine, L-Histidine Hydrochloride 
                            Monohydrate, Magnesium Chloride Hexahydrate, Polysorbate 80, Ethanol, Sucrose, 
                            Sodium Chloride, and Disodium Edetate Dihydrate (EDTA).</li>
                        <li>Composition of Covaxin includes inactivated Coronavirus, Aluminum Hydroxide Gel, 
                            TLR 7/8 Agonist, 2-Phenoxyethanol and Phosphate Buffered Saline [NKA1].</li>
                    </section>
                    <section>
                        <li>Q. Will the vaccine introduced in India be as effective as the ones introduced in other countries?</li>
                        <li>A. Yes, the COVID-19 vaccine introduced in India will be as effective as any vaccine developed by 
                            other countries. Various phases of vaccine trials are undertaken to ensure its safety and efficacy.</li>
                    </section>
                    <section>
                        <li>Q. What is the dose schedule of both the vaccines?</li>
                        <li>A. The time interval between two doses of the Covishield vaccine has been extended from 4-8 weeks 
                            to 12-16 weeks. The second dose of Covaxin can be taken four to six weeks after the first.</li>
                    </section>
                    <section>
                        <li>Q. Is it mandatory to take the vaccine?</li>
                        <li>A. Vaccination for COVID-19 is voluntary. However, it is advisable to receive the 
                            complete schedule of COVID-19 vaccine for protecting oneself against this disease and also to limit 
                            the spread of this disease to the close contacts including family members, friends, relatives and 
                            co-workers.</li>
                    </section>
                    <section>
                        <li>Q. Is it important for me to receive the same vaccine during second dose?</li>
                        <li>As the vaccines available are not interchangeable, it is important to receive 
                            the second dose of same vaccine as the first one. The Co-WIN portal is also going 
                            to help to ensure that everyone receives the same vaccine.</li>
                    </section>
                    <section>
                        <li>Q. In how many days will the vaccination create an adequate immune response and protection?</li>
                        <li>A. Adequate immune response takes 2-3 weeks after completion of entire vaccination schedule i.e., 
                            after the second dose of COVISHIELD® and COVAXIN®.</li>
                    </section>
                    <section>
                        <li>Q. Do I still need to follow norms after taking the vaccine?</li>
                        <li>A. The usual protocol needs to be followed. One should continue to wear masks, wash their hands 
                            (or sanitize their hands), follow social distancing and maintain good hygiene. Immunisation 
                            does not prevent another infection when exposed     
                            but only reduces the severity of symptoms and prevents it from advancing.   
                            COVID-19 vaccine prevents hospitalisation and death.</li>
                    </section>
                    <section>
                        <li>Q. What are the common side effects one might experience after taking the vaccine?</li>
                        <li>A. Common side effects include mild headaches, pain or swelling at the injection site, 
                            mild fever and irritability. 
                        </li>
                        <li>Side effects should go away in a few days.</li>
                        <li>Get the second dose even if you have side effects from the first shot, unless a 
                            vaccination provider or doctor advices you otherwise.
                        </li>
                    </section>
                    <!-- <section>
                        <li>Q. What are the expected adverse events after taking covishield?</li>
                        <li>A. Common adverse events - fatigue, chills, pyrexia, headache, discomfort and nausea</li>
                    </section>
                    <section>
                        <li>Q. What are the expected adverse events after taking covaxin?</li>
                        <li>A. Common adverse events - abdominal pain, fatigue, fever, dizziness, cold and pain at the site of injection. </li>
                    </section> -->
                    <!--add more positive vaccine faq-->
                <!--</ul>-->
            </article>
        </main>
        <footer>
            <div style="text-align: center; font-family: ubuntu, 'Segoe UI', sans-serif; background-color: navy; color: white; padding: 0.2%;">
                <p>By Amog Rao (Web Dev) and Yasasvat Vummidi (Content)</p>
                <p>&copy; 2021 One Community</p>
            </div>
        </footer>
    </body>
</html>