body{
    background-color: rgb(240, 240, 240);

}

#current::-webkit-scrollbar{
    display: none;
}

#prev::-webkit-scrollbar{
    display: none;
}

ul{
    font-size: 1.5rem;
}

ul li{
    margin-top: 1vh;
}

#current{
    padding: 10px;
    background-color: rgb(200, 160, 110);
    width: 90vw;
    max-height: 30vh;
    margin-left: 5vw;
    border-radius: 10px;
    overflow-y: scroll;
    margin-top: 5vh;
}

#prev{
    padding: 10px;
    background-color: rgb(200, 160, 110);
    width: 90vw;
    max-height: 30vh;
    margin-left: 5vw;
    border-radius: 10px;
    margin-top: 5vh;
    overflow-y: scroll;
}

#target_user{
    min-width: 40vw;
    min-height: 6vh;
    margin-top: 3vh;
    margin-left: 5vw;
    font-size: 1.4rem;
}

#send_msg{
    background: none;
    padding: 10px;
    border: 1px solid green;
}

#send_msg:hover{
    transition: 0.5s;
    background: green;
    color: white;
}

#current-msg{
    list-style-type: none;
}

#prev-msg{
    list-style-type: none;
}