.empty {
  color: #FFC107;
}

body {
  background-color: #141A26;
  color: #FFC107;
  overflow-x: hidden;
}

.title {
  text-align: center;
  font-family: "IBM Plex Sans";
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2em;
}

.container {
  padding: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;
}

.container1 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.bg1, .bg2, .bg3 {
  height: 100%;
}

.bg1 {
  background-color: #ff3907;
  width: 10%;
}

.bg2 {
  background-color: #0fff07;
  width: 50%;
}

.bg3 {
  background-color: #ff3907;
  width: 40%;
}

.dashboard__patient {
  margin-bottom: 4rem;
}
.dashboard__updated {
  width: 80%;
  margin: 0 auto;
}
.dashboard__updated-label {
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.dashboard__patient-header {
  font-size: 1em;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
}
.dashboard__patient-mainline {
  padding-left: 1rem;
  text-align: left;
  margin-top: 0 !important;
  margin-bottom: 2rem !important;
}
.dashboard__patient-personal {
  text-align: center;
  padding-bottom: 2rem;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  border: 2px solid #FFC107;
  border-radius: 6px;
  flex-direction: column-reverse;
}
.dashboard__patient-personal button {
  width: 80%;
  height: 40px;
  font-size: 1.1em;
  background-color: #FFC107;
  color: #141A26;
  border: none;
  outline: none;
  margin-top: 2rem;
  border-radius: 6px;
}
.dashboard__patient-personal button:hover {
  background-color: #d39e00;
}
.dashboard__patient-personal h3 {
  margin-top: 1rem;
  overflow-wrap: break-word;
  margin-bottom: 1rem;
}
.dashboard #qrcode-generated {
  margin-bottom: 2rem;
}
.dashboard__health-stat {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.dashboard__labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard__health-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-row-gap: 5rem;
  grid-column-gap: 4rem;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  list-style: none;
  margin-top: 4rem;
  pointer-events: none;
}
.dashboard__category {
  margin: 0 auto;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}
.dashboard__health-item {
  width: 350px;
  margin: 0 auto;
}
.dashboard__health-item h4 {
  font-size: 1.3em;
  width: 100%;
  margin-bottom: 2.5rem;
}
.dashboard .container {
  width: 350px;
}
.dashboard .slider {
  width: 350px;
  pointer-events: none;
}
.dashboard hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.dashboard .heading {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.safe {
  color: #0fff07;
}

.warning {
  color: #ffcc00;
}

.danger {
  color: #ff3907;
}

.bdl-safe {
  color: #c4da05;
}

.bdl-danger {
  color: #ff9307;
}

.dashboard__patient-address {
  width: 80vw;
  margin: 0 auto;
  border: 2px solid #FFC107;
  border-radius: 6px;
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
}
.dashboard__patient-address h3 {
  width: 100%;
}
.dashboard__patient-address button {
  width: 60%;
  height: 40px;
  font-size: 1.1em;
  background-color: #FFC107;
  color: #141A26;
  border: none;
  outline: none;
  margin-top: 2rem;
  border-radius: 6px;
}
.dashboard__patient-address button:hover {
  background-color: #d39e00;
}
.dashboard__patient-address h3 {
  width: 100%;
  margin-bottom: 2rem;
}
.dashboard__patient-address h5 {
  width: 100%;
}
.dashboard__patient-address h3:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 780px) {
  .dashboard__patient-personal {
    text-align: left;
  }
  .dashboard__patient-personal button {
    width: 100%;
  }
  .dashboard__patient-text {
    width: 60%;
  }
  .dashboard__patient-header {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0 !important;
    font-size: 1em;
  }
  .dashboard__patient-mainline {
    margin-top: 0 !important;
  }

  hr {
    display: none;
  }

  .dashboard__patient-personal {
    width: 80vw;
    margin: 0 auto;
    border: 2px solid #FFC107;
    border-radius: 6px;
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .dashboard__patient-personal h3 {
    width: 100%;
  }
  .dashboard #qrcode-generated {
    margin-top: 0;
  }
}
.search_public__title {
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-size: 2em;
  text-align: center;
}
.search_public__form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_public__field {
  width: 80%;
  border: none;
  outline: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom: 2px solid #FFC107;
  height: 40px;
  font-size: 1.1em;
  padding-left: 8px;
  padding-right: 8px;
}
.search_public__btn {
  width: 20%;
  height: 40px;
  background-color: #FFC107;
  color: #141A26;
  transition: all ease-in-out 500ms;
  border: none;
  outline: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.search_public__btn:hover {
  background-color: #d39e00;
}

@media screen and (min-width: 1300px) {
  .dashboard__patient-personal {
    width: 60vw !important;
  }
  .dashboard__patient-address {
    width: 60vw !important;
  }

  .search_public__form {
    width: 60%;
  }
}
@media screen and (min-width: 1900px) {
  .dashboard__patient-personal {
    width: 50vw !important;
  }
  .dashboard__patient-address {
    width: 50vw !important;
  }

  .search_public__form {
    width: 50%;
  }
}/*# sourceMappingURL=dashboard.css.map */