.home{
    padding-bottom: 4rem;

    &__row{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        justify-content: center;

        a{
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            text-decoration: none;
        }
    }


    &__column{
        width: 400px;
        height: 48px;
        background-color: $secondary-color;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            cursor: pointer;
            background-color: darken($secondary-color, 10%);
        }
    }

    &__link{
        color: $background-color-dark;
        text-decoration: none;
        height: 100%;
        margin: 0;
        text-align: center;
        display: flex;
            align-items: center;
            justify-content: center;
    }
}