.a-title{
    margin-top: 2rem;
    text-align: center;
}

.b-title{
    margin-top: 2rem;
    text-align: center;
}

.legend2{
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    iframe{
        width: 100%;
        height: 500px;
    }
}

.legend3{
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-row-gap: 2rem;
    grid-column-gap: 3rem;
    justify-content: center;
    align-items: center;

    .legend{
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 300px;
    }

    .legend img{
        width: 30px;
    }
}