.vaccinations{
    padding-bottom: 4rem;
    
    &__container{
        padding-left: 10%;
        padding-right: 10%;
        font-size: 1.2em;
    }

    &__question{
        list-style: none;
        color: $comp-secondary-color;
        margin-bottom: 2rem;
        margin-top: 3rem;
        font-weight: bold;
    }

    &__answer{
        margin-top: 1rem;
        margin-bottom: 3rem;
        list-style:none;
    }
}

@media screen and (min-width: 768px){
    .vaccinations{
        &__container{
            padding-left: 20%;
            padding-right: 20%;
        }
    }
}

@media screen and (min-width: 1400px){
    .vaccinations{
        &__container{
            padding-left: 30%;
            padding-right: 30%;
        }
    }
}