@import 'variables';
@import 'home';
@import 'immunity';
@import 'mythbusters';
@import 'vaccination';
@import 'norms';
@import 'status';

body{
    background-color: $background-color-dark;
    color: $secondary-color;
    .title{
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 3rem;
        margin-top: 5rem;
        font-family: 'IBM Plex Sans';
    }
}