{% extends "health_tracker/layout.html" %}

<!--copy paste the div tags here in your respective templates to make them work-->

{% block body %}
{% csrf_token %}
<input type="text" id="target_user">
<button id="test">test</button>
<button id="test2">check</button>
<div class="container" id="notifs">
</div>

<script>


    function approve(btn)
    {
        let receiver_id = $(btn).attr('class')
        let sender_id = $(btn).attr('id')
        console.log(receiver_id);
        let token = $("input[name='csrfmiddlewaretoken']").val()
        let header = {"X-CSRFToken": token}
        let payload = JSON.stringify({type: "approval", authorised: sender_id, approver: receiver_id, status: "yes"})
        let content = {
            method: "POST", headers: header, body: payload
        }
        let request = fetch("{% url 'notifications' %}", content)

    }
    function reject(btn)
    {
        let receiver_id = $(btn).attr('class')
        let sender_id = $(btn).attr('id')
        console.log(receiver_id);
        let token = $("input[name='csrfmiddlewaretoken']").val()
        let header = {"X-CSRFToken": token}
        let payload = JSON.stringify({type: "approval", authorised: sender_id, approver: receiver_id, status:"no"})
        let content = {
            method: "POST", headers: header, body: payload
        }
        let request = fetch("{% url 'notifications' %}", content)

    }
    function handle_json(data)
    {
        $('#notifs').html("")
        for(let row of data)
        {
            let notif_html = `
                <li>${row.sender} Sent A Letter of ${row.content}</li>
                <button onclick=approve(this) id='${row.sender}' class='${row.receiver}'>Approve</button>
                <button onclick=reject(this) id='${row.sender}' class='${row.receiver}'>Reject</button>
                            `
            $('#notifs').append(notif_html)
        }
    }
    function handle_rec()
    {
        let token = $("input[name='csrfmiddlewaretoken']").val()
        let header = {"X-CSRFToken": token}
        let payload = JSON.stringify({type: "receive"})
        let content = {
            method: "POST", headers: header, body: payload
        }
        let request = fetch("{% url 'notifications' %}", content)
        request.then((data) => {data.json().then(handle_json).catch(err => null)})
    }

    function handle_send()
    {
        let token = $("input[name='csrfmiddlewaretoken']").val()
        let header = {"X-CSRFToken": token}
        let whom = $('#target_user').val()
        if(whom.length == 0)
        {
            alert('Whom to send?')
            return
        }
        let payload = JSON.stringify({to: whom, as: "{{ division }}", type: "send"})
        let content = 
        {
            method: "POST",
            headers: header,
            body: payload
        }
        let request = fetch("{% url 'notifications' %}", content)

    }

    $(document).ready(()=>{
        $("#test").click(handle_send)
        setInterval(handle_rec, 10000)
    })
</script>
{% endblock body %}