{% extends "health_tracker/layout.html" %}
{% block title %}{{wbid}}{% endblock %}
{% block body %}
<!-- <iframe src="data:{{mt}};base64,{{file}}" style="height:100vh;width:100vw;"></iframe>
<img src="data:{{mt}};base64,{{file}}"> -->
<!-- <embed src="data:{{mt}};base64,{{file}}" type="image/jpg"> -->
<!-- <object data="data:{{mt}};base64,{{file}}" type="image/jpg"> -->
<embed src="data:{{mt}};base64,{{file}}" type="image/jpg" style="height: 100vh; width: 100vw;">
<!-- </object> -->
<!-- <embed src="data:{{mt}};base64,{{file}}" type="application/pdf"> -->
{% endblock body %}