{% extends "health_tracker/layout.html" %}
{% load static %}
{% block title %}Upload File{% endblock %}
{% block styling %}
<link rel="stylesheet" href="{% static 'health_tracker/scss/upload.css' %}">
{% endblock %}
{% block body %}

    {% if message %}
        <script>
            alert("{{ message }}"); // why alert?
        </script>
    {% endif %}
    <div>
        <div>
            <h1 class="title">Upload File</h1>
        </div>
    </div> 
    <form method='POST' action="{% url 'upload_file' %}" enctype="multipart/form-data" id="upload-form">
        {% csrf_token %}
        {{form}}
        <button type="submit">Upload</button>
    </form>

{% endblock %}

{% block script %}
<script>
    function main()
    {
        if("{{ division }}" == "D/HCW/MS")
        {
            $("#id_vendor_name").hide()
            $("#id_vendor_name").val("doctor")
            $('label[for="id_vendor_name"]').hide()
        }
        $("#upload-form").on("submit", function() {
            for(file of $("#id_file_field").prop("files"))
            {
                let size = file.size/(1000000)
                if(size > 50)
                {
                    alert("Each file cannot be larger than 50mb!")
                    return false;
                 }
            }
        })
    }
    $(document).ready(main)
</script>
{% endblock script %}