{% extends "health_tracker/layout.html" %}
{% load static %}
{% block title %}Go Public{% endblock %}
{% block body %}
    <form action="{% url 'go_public' %}" method="POST" >
        {% csrf_token %}
        {{ form.address.label }}
        {{ form.address }}
        <label for="states">Select your state</label>
        <select id="states" name="state">
            {% for state in states %}
                {% if vendor.state == state %}
                    <option value="{{ state }}" selected>{{ state }}</option>
                {% else %}
                    <option value="{{ state }}">{{ state }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="districts">Select your district</label>
        <select id="districts" name="district">

        </select>
        {{ form.pincode.label }}
        {{ form.pincode }}
        <input type="submit" value="Go Public">
    </form>
    <script>
        function change_districts(jsondata)
        {
            $("#districts").html("")
            let s = document.getElementById('districts')
            for(d of jsondata){
                s.add(new Option(d, d))
            }
            document.getElementById("districts").value = "{{vendor.city}}"
        }


        function get_cities()
        {
            let token = $("input[name='csrfmiddlewaretoken']").val()
            let header = {"X-CSRFToken": token}
            let payload = JSON.stringify({sn: $("#states").val()})
            let content = {
                method: "POST", headers: header, body: payload
            }
            let request = fetch("{% url 'states' %}", content)
            request.then((data) => {data.json().then(change_districts).catch(err => null)})

        }
        function main()
        {
            $("#states").on('change', get_cities)
            get_cities()
            console.log("{{vendor.city}}")


        }
        $(document).ready(main)
    </script>
{% endblock %}