{% extends "health_tracker/layout.html" %}
{% load static %}
{% block title %}Health Status | {{wbid}}{% endblock %}
{% block styling %}<link href="{% static 'health_tracker/css/health_status.css' %}" rel="stylesheet">{% endblock %}
{% block body %}
    {% if udne or nap or updater_not_auth %}
        <h3>{{message}}</h3>
    {% else %}
        {% if message %}
            <h3>{{message}}</h3>
        {% endif %}
        <form method="POST" action="{% url 'health' wbid %}">
            {% csrf_token %}
            {% for form in formset %}
                <div>{{form}}</div>
                <hr>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    {% endif %}
{% endblock %}
{% block script %}
<script>
    let health_condition_labels = document.querySelectorAll('label[for$="health_condition"]')
    // let health_condition_inputs = document.querySelectorAll('input[name$="health_condition"]')
    let health_condition_labels_array=[...health_condition_labels]
    health_condition_labels.forEach(element => {
        // element.class='health_labels'
        let index = health_condition_labels_array.indexOf(element)+1
        element.innerHTML=`Health Condition ${index}:`
        console.log(element)
    })
</script>
{% endblock %}