<div class="index__container-parent">
    <h2 class="index__subtitle">My Files</h2>

    <p class="index__paragraph">
        The 'My Files' page provides <strong>all the files that are linked to the user</strong>. A doctor/vendor will be able to see all the files uploaded by that doctor/vendor. Whereas a patient will see all the files in which the patient is a recipient.
    </p>
    <p class="index__paragraph">
        The file card will display:
    </p>
    <ul class="index__list">
        <li>File Preview Image</li>
        <li>File name</li>
        <li>File recipient (for doctor/vendor view)</li>
        <li> File uploader (for patient view)</li>
        <li>Date and time at which the file was uploaded</li>
        <li>File Type (ie prescription, invoice, health report, etc)</li>
        <li>Delete and Edit Buttons (for the file uploader, ie doctor/vendor)</li>
    </ul>
    <p class="index__paragraph">
        The files can also be <strong>sorted alphabetically or by the file type</strong>. They can also be <strong>filtered</strong> by file type (ie prescription, discharge summary, etc). 
    </p>
    <p class="index__paragraph">
        Similar file cards will be viewed on the profile pages of the users.
    </p>
    <p class="index__paragraph">
        On clicking the file card, the user will be able to view or download the file. 
    </p>
</div>
<div class="index__container-parent">
    <h2 class="index__subtitle">File Viewing</h2>
    <p class="index__paragraph">
        A file can be <strong>viewed or downloaded</strong> by clicking on the file card.
    </p>
    <p class="index__paragraph">
        <strong>File viewing</strong> has been made <strong>very secure</strong> such that <strong>only the file uploader, an authorized doctor, and the patient can view the file</strong>. Any other user who tries to view the file and is <strong>not authorized to view will be shown a 404 page or</strong> will be <strong>redirected</strong> to the home page.
    </p>    
</div>
<div class="index__container-parent">
    <h2 class="index__subtitle">Edit File</h2>
    <p class="index__paragraph">
        The 'Edit File' page provides a form for the file uploader to edit the metadata of the file like tags, file type (ie prescription, invoice, operative summary), and the uploader name (only for vendors).
    </p>
    <p class="index__paragraph">
        <strong>The edit file form's fields will already be pre-filled if data exists for the same.</strong>
    </p>
</div>
<div class="index__container-parent">
    <h2 class="index__subtitle">Delete File</h2> 
    <p class="index__paragraph">
        <strong>A file can be deleted only by the file uploader. </strong>
    </p>
    <p class="index__paragraph">
        When the 'delete' button is clicked, <strong>the file uploader is asked once again for confirmation </strong>whether the file uploader wants to delete the file or not.
    </p>
    <p class="index__paragraph">
        If the file uploader presses 'cancel', then the confirmation message is closed. However, if the file uploader clicks on 'delete', the <strong>file will be deleted permanently.</strong>
    </p>
</div>
<div class="index__container-parent">
    <h2 class="index__subtitle">My Doctors/Vendors & Remove Doctor/Vendor</h2>
    <p class="index__paragraph">
        The 'My Doctors/Vendors' page <strong>can be viewed only by patients</strong>. This page provides <strong>4 lists of all the doctors/vendors that the doctor/vendor is linked to</strong>. 
    </p>
    <ul class="index__list">
        <li>The first list includes all the doctors that are authorized by the patient.</li>
        <li>The second list includes all the doctors that are no longer authorized by the patient but have uploaded files where the patient is the recipient.</li>
        <li>The third list includes all the insurance companies/service providers that have uploaded documents where the patient is the recipient.</li>
        <li>The fourth list includes all the medical shops and labs that have uploaded documents where the patient is the recipient.</li>
    </ul>
    <p class="index__paragraph">
        <strong>If a doctor/vendor tries to visit this URL, the doctor/vendor will be redirected to the 'My Patients/Customers' page.</strong>
    </p>
    <p class="index__paragraph">
        When the doctor/vendor card is clicked, the doctor/vendor will be redirected to the doctor/vendor's profile.
    </p>
    <p class="index__paragraph">
        The doctor/vendor card also has a <strong>'remove' button</strong> for all the doctors/vendors that are on the list of authorized list of the patient. 
    </p>
    <p class="index__paragraph">
        When clicked, <strong>a modal appears under asking for confirmation </strong>if the patient wants to remove the doctor/vendor. If the 'cancel' button is clicked, then the modal closes. If the 'remove' button is clicked, then the <strong>doctor/vendor is removed from the list of authorized doctors/vendors of the patient</strong>.
    </p>
    <p class="index__paragraph">
        If no patients are linked to the doctor/vendor, the following message will be displayed: <kbd>You have no doctors/vendors!</kbd>
    </p>
</div>
<div class="index__container-parent">
    <h2 class="index__subtitle">My Patients/Customers & Remove Patient/Customer</h2>
    <p class="index__paragraph">
        The <strong>'My Patients/Customers' page can be viewed only by doctors/vendors</strong>. This page provides a list of all the patients that the doctor/vendor is linked to. This includes <strong>in the doctor/vendor's authorized list </strong>as well as <strong>patients who are recipients of the files uploaded by the doctor/vendor</strong>.
    </p>
    <p class="index__paragraph">
        If a patient tries to visit this URL, the patient will be redirected to the 'My Doctors/Vendors' page of the patient.
    </p>
    <p class="index__paragraph">
        When the patient card is clicked, the doctor/vendor will be redirected to the patient's profile.
    </p>
    <p class="index__paragraph">
        The patient card also has a <strong>'remove' </strong>button for all the patients that are on the list of authorized patients of the doctor/vendor. 
    </p>
    <p class="index__paragraph">
        When clicked, a <strong>modal appears under asking for confirmation </strong>if the doctor/vendor wants to remove the patient. If the 'cancel' button is clicked, then the modal closes. If the 'remove' button is clicked, then the <strong>patient is removed from the list of authorized patients of the doctor/vendor</strong>.
    </p>
    <p class="index__paragraph">
        If no patients are linked to the doctor/vendor, the following message will be displayed: <kbd>You have no patients/customers!</kbd>
    </p>
</div>
<div>
    
</div>