{% extends "health_tracker/layout.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block styling %}
<link rel="stylesheet" href="{% static 'health_tracker/scss/login.css' %}">
{% endblock %}
{% block body %}

    {% if message %}
        <div class="empty">{{ message }}</div>
    {% endif %}
    <div class="back">
        <div class="backLeft"></div>
        <div class="backRight"></div>
    </div>
    <div id="slideBox">
        <div class="topLayer">
            <div class="right">
                <!-- Logo? -->
                <h1 class="title">Patient Login</h1>
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    {{form}}
                    <input type="submit" value="Login">
                </form>
                <button id="goRight">Are you a health care worker/vendor?</button>
                <p>Don't have an account yet? <a href="{% url 'register' %}">Register here.</a></p>
            </div>
            <div class="left">
                <h1 class="title">Health Worker/Vendor Login</h1>
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    {{form}}
                    <input type="submit" value="Login">
                </form>
                <button id="goLeft">Are you a patient?</button>
                <p>Don't have an account yet? <a href="{% url 'register' %}">Register here.</a></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'health_tracker/js/login/login.js' %}"></script>
{% endblock script %}