{% extends "health_tracker/layout.html" %}
{% load static %}
{% load custom_filter %}
{% block title %}My Files{% endblock %}
{% block styling %}<link href="{% static 'health_tracker/scss/files.css' %}" rel="stylesheet">{% endblock %}

{% block body %}
   {% if not files %}
      <h3 class="title">No files to display!</h3>
   {% else %}
      <button id="sort-div-button">Close Filter Box</button>
      <div id="sort-div">
      <form method="post" class="sort-filter-form">
         {% csrf_token %}
         <div class="sort-filter-form__field">
            <label for="sort" class="sort-filter-form__label">Sort By</label>
            <select name="sort" id="sort" class="sort-filter-form__select">
               <option value="def">Default</option>
               <option value="ft">File Type</option>
               <option value="az">A-Z</option>
            </select>
         </div>
         <div class="sort-filter-form__field">
         <label for="filter" class="sort-filter-form__label">Filter by</label>
            <select name="filter" id="filter" class="sort-filter-form__select">
               <option value="def">Show all</option>
               <option value="PRSCN">Prescriptions</option>
               <option value="S/T">Schedule/Timetable</option>
               <option value="HR/TR">Health Report/Test Report</option>
               <option value="INVCE">Invoice</option>
               <option value="OP">Operative Report</option>
               <option value="DS">Discharge Summary</option>
               <option value="MSC">Miscellaneous</option>
            </select>
         </div>
         <button class="sort-filter-form__btn">Apply</button>
      </form>
      </div>
      <h1 class="title">{% if user_type == 'nou' %} My Files {% else %} Files Uploaded by You: {% endif %}</h1>
      <div id="files_container" class="file_container active-files">
         {% for file in files %}
         <div class="file_card" title="{{file.file}}">
            {% csrf_token %}
            <div class="inside_file_card">
               <a style="text-decoration: none;" href="/media/{{file.file}}">
                  {% if not file|stringformat:"s"|endswith:"docx,xls,xlsx,txt,mp4,avi,mov,ppt,pptx,mp3,key" %}
                     <div class="files_container__img-card img_class" id="img{{file.id}}" data-image="{{file.file}}">
                     </div>
                  {% else %}
                     <img class="files_container__img-card img_class" id="img{{file.id}}" data-image=""
                     src="{% static 'health_tracker/folder.png' %}">
                  {% endif %}
                  <div class="files_container__content">
                     <h5 class="file_name_class" id="file{{file.id}}" data-name={{file.file}}>{{file.file}}</h5>
                     {% if user_type == 'nou' %}
                        <h6>Uploaded By: {% if file.uploader %} {{file.uploader.full_com_name}} {% else %} Deleted_User {% endif %}</h6>
                     {% else %}
                        <h6>Patient/Customer: {{file.recipent.full_name}} ({{file.recipent.person.username}})</h6>
                     {% endif %}                     
                     <h6>Uploaded On: {{file.date}}</h6>
                     {% if file.file_type == 'PRSCN' %}
                        <h6>Type: Prescription</h6>
                     {% elif file.file_type == 'S/T' %}
                        <h6>Type: Schedule/Timetable</h6>
                     {% elif file.file_type == 'HR/TR' %}
                        <h6>Type: Health Report/Test Report</h6>
                     {% elif file.file_type == 'INVCE' %}
                        <h6>Type: Invoice</h6>
                     {% elif file.file_type == 'OP' %}
                        <h6>Type: Operative Report</h6>
                     {% elif file.file_type == 'DS' %}
                        <h6>Type: Discharge Summary</h6>
                     {% elif file.file_type == 'MSC' %}
                        <h6>Type: Miscellaneous</h6>
                     {% endif %}                     
                  </div> 
               </a>
               {% if file.uploader.account == request.user %}
                  <div class="action-btns">
                     <button type="button" class="delete_file" data-pos="{{forloop.counter}}">Delete</button>
                     <button type="button" class="edit_file" data-pos="{{forloop.counter}}" onclick="window.location.href='/edit/{{file.file}}'">Edit</button>
                  </div>   
                  <div class="delete_file_modal" tabindex="-1" data-pos="{{forloop.counter}}" aria-labelledby="ModalLabel" aria-hidden="true">
                     <div class="modal_dialog">
                        <div class="modal_content">
                           <div class="modal_header">
                              <h5 class="modal_title">Delete File</h5>
                           </div>
                           <div class="modal-body">
                              <p>Are you sure you want to delete</p>
                              <p class="modal-filename" data-name="{{file.file}}">"{{file.file}}"?</p>
                           </div>
                           <div class="modal_footer">
                              <button type="button" class="delete_file_cancel" data-pos="{{forloop.counter}}">Cancel</button>
                              <button type="button" class="delete_file_main" data-filename="{{file.file}}" id="delete_file_main{{file.id}}">Delete</button>
                           </div>
                        </div>
                     </div>
                  </div>     
               {% endif %}                 
            </div>
         </div>
         {% endfor %}
      </div>
   {% endif %}
{% endblock %}
{% block script %}
   <script src="{% static 'health_tracker/js/delete_file.js' %}"></script>
   <script src="{% static 'health_tracker/js/filepath_tostring.js' %}"></script>
   <script src="{% static 'health_tracker/js/image_preview.js' %}"></script>
   <script>
      let sort_div_button=document.querySelector("#sort-div-button")
      let sort_div=document.querySelector("#sort-div")
      let files_container=document.querySelector("#files_container")
      sort_div_button.addEventListener("click", () => {
         if (sort_div.style.display=="none") {
            sort_div.style.display="block";
            sort_div_button.innerHTML="Close Filter Box";
            files_container.classList.toggle("active-files");
         } else {
            sort_div.style.display="none";
            sort_div_button.innerHTML="Open Filter Box";
            files_container.style.width="90%";
            files_container.style["-webkit-box-pack"]='center';
            files_container.style["-ms-flex-pack"]='center';
            files_container.style["justify-content"]='center';
            files_container.classList.toggle("active-files");
         }
      })
   </script>
{% endblock %}