{% extends "health_tracker/layout.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block styling %}<link href="{% static 'health_tracker/scss/dashboard.css' %}" rel="stylesheet">{% endblock %}
{% block body %}
    <div>
        <div>
            <h3 class="title">Health Tracker</h3>
        </div>
    </div> 
        {% if nou %}

            <h3>Full Name: {{user.full_name}}</h3>
            <h3>Email: {{user.person.email}}</h3>
            <h3>Well-Being ID: {{user.person.username}}</h3>
            <h3>Aadhar ID: {{user.aadharid}}</h3>
            <div  id="qrcode-generated">
                {% csrf_token %}
                <!--    this tag will generate the qrcode, the qrcode will be sent from the backend after it's generation-->
                    <img src="" alt="Invalid Image" id="qr-image">
                <script>

                    function set_image(blobResponse)
                    {
                        const imageObjectURL = URL.createObjectURL(blobResponse)
                        document.getElementById("qr-image").src = imageObjectURL;
                    }

                    function get_qr()
                    {
                      let token = $("input[name='csrfmiddlewaretoken']").val()
                      let url = "/getQr"
                      let header = {'X-CSRFToken': token}
                      let request = fetch(url, {method: "POST", headers: header, body: JSON.stringify({uid: "{{ user.wbid }}"})})
                      request.then(resp => resp.blob())
                      .then(set_image)
                    }
                    $(document).ready(get_qr)
                </script>
            </div>
        {% elif non_nou %}
            <h3>{% if user.account.division.lower == 'd/hcw/ms' %} Full Name: {% else %} Company Name: {% endif %} {{user.full_com_name}}</h3>
            <h3>Email: {{user.account.email}}</h3>
            <h3>Health Care Worker/Vendor ID: {{user.account.username}}</h3>
            <h3>Registration No./License No.: {{user.reg_no}}</h3>
            {% if user.account.division.lower == 'd/hcw/ms' %}<h3>Department: {{user.department}}</h3>{% endif %}
            <h3>Account Visibility: {% if user.public %}Public{% else %}Private{% endif %}</h3>
            {% if user.public == True %}
                <button onclick="window.location.href='/goprivate'" >Go Private</button>
            {% else %}
                <button onclick="window.location.href='/gopublic'">Go Public</button>
            {% endif %}
        {% endif %}
        <!-- <img src="/media/7977790201256379/Atomic_Physics.pdf"> -->
        <!-- <embed src="/media/7977790201256379/Atomic_Physics.pdf" type="application/pdf"> -->
        <!-- <iframe src="https://vit.ac.in/files/VITEEE-2022-Syllabus/VITEEE2022-Physics.pdf"></iframe> -->
        <!-- <iframe src="/media/7977790201256379/Atomic_Physics.pdf"></iframe> -->
        <!-- <iframe src=""></iframe> -->


{% endblock %}

{% block script %}
{% endblock script %}