{% extends "health_tracker/layout.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block styling %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>   
    <link href="{% static 'health_tracker/scss/dashboard.css' %}" rel="stylesheet"> 
{% endblock %}
{% block body %}
    <main class="dashboard">
    <div>
        <div>
            <h1 class="title">Dashboard</h1>
        </div>
    </div> 
    {% if nou %}
        <div class="dashboard__patient">
            <div class="dashboard__patient-personal">
                <div class="dashboard__patient-text">
                    <h5 class="dashboard__patient-header">
                        Full Name
                    </h5>
                    <h3 class="dashboard__patient-mainline">{{user.full_name}}</h3>
                    <h5 class="dashboard__patient-header">
                        Email
                    </h5>
                    <h3 class="dashboard__patient-mainline">{{user.person.email}}</h3>
                    <h5 class="dashboard__patient-header">
                        Well-Being ID
                    </h5>
                    <h3 class="dashboard__patient-mainline">{{user.person.username}}</h3>
                    <h5 class="dashboard__patient-header">
                        Aadhar ID
                    </h5>
                    <h3 class="dashboard__patient-mainline">{{user.aadharid}}</h3>
                </div>
                <div  id="qrcode-generated">
                    {% csrf_token %}
                    <!--    this tag will generate the qrcode, the qrcode will be sent from the backend after it's generation-->
                        <img src="" alt="Invalid Image" id="qr-image" width="200px">
                    <script>

                        function set_image(blobResponse)
                        {
                            const imageObjectURL = URL.createObjectURL(blobResponse)
                            document.getElementById("qr-image").src = imageObjectURL;
                        }

                        function get_qr()
                        {
                        let token = $("input[name='csrfmiddlewaretoken']").val()
                        let url = "/getQr"
                        let header = {'X-CSRFToken': token}
                        let temp = `https://${window.location.host}/`
                        let request = fetch(url, {method: "POST", headers: header, body: JSON.stringify({uid: temp+ "visit/{{ user.person.username }}"})})
                        request.then(resp => resp.blob())
                        .then(set_image)
                        }
                        $(document).ready(get_qr)
                    </script>
                </div>
            </div>
            <hr/>
            <section class="search_public">
                <h3 class="search_public__title">Search for Public Doctors/Vendors</h3>
                <form class="search_public__form" action="{% url 'search_public' %}">
                    <input class="search_public__field" type="text" name="q"/>
                    <button class="search_public__btn" type="submit">Search</button>
                </form>
            </section> 
            <div class="dashboard__health-stat">
                {% if health_status.health_status.all|length == 0 %}
                    <h1 class="heading">Your Health Status Card is empty.</h1>
                {% else %}                
                    <h1 class="heading">Health Status</h1>
                    <div class="dashboard__updated">
                        <p class="dashboard__updated-label">Last updated by <a href="{% url 'other_profile' health_status.last_updated_by.account.username %}" style="color: rgba(255, 255, 255, 0.7);">{{health_status.last_updated_by.full_com_name}} ({{health_status.last_updated_by.account.username}})</a></p>
                        <p class="dashboard__updated-label">Last updated on {{health_status.last_updated}}</p>
                     </div>
                    <hr/>
                    <div class="dashboard__health-container">
                        {% for health_value in health_status.health_status.all %}
                            <div class="dashboard__health-item">
                                <h4>
                                    {{health_value.health_condition}}
                                </h4>
                                <div class="dashboard__labels container1">
                                    <label id="mid{{forloop.counter}}">{{health_value.minimum_value}}</label>
                                </div>
                                <div class="container">
                                    <div 
                                        id="slider{{ forloop.counter }}" 
                                        class="slider" 
                                        data-pos="{{ forloop.counter }}"
                                        style="
                                                display: flex; 
                                                height: 25px;
                                                width: 80vw;
                                                margin: 0 auto;
                                                border: 1px solid #FFC107;
                                        ">
                                        <div id="custom-handle{{ forloop.counter }}" class="ui-slider-handle" title="{{health_value.patient_value}}" style="
                                        width: 3em;
                                        height: 40px;
                                        top: 50%;
                                        text-align: center;
                                        line-height: 40px;
                                        margin-top: -20px;
                                        z-index: 0;
                                        background-color: #FFC107;
                                        color: #141A26;
                                        border: 1px solid #FFC107;"></div>
                                        <div class="bg1" id="bg1{{forloop.counter}}""></div>
                                        <div class="bg2" id="bg2{{forloop.counter}}"></div>
                                        <div class="bg3" id="bg3{{forloop.counter}}"></div>
                                    </div>
                                </div>
                                <div class="dashboard__labels container">
                                    <label id="mini{{forloop.counter}}">{{health_value.minimum_value}}</label>
                                    <label id="maxi{{forloop.counter}}">{{health_value.maximum_value}}</label>
                                </div>
                                <label hidden id="patient{{forloop.counter}}">{{health_value.patient_value}}</label>
                                {% if health_value.condition_category == "SAFE" %}
                                    <h5 class="safe dashboard__category">
                                        CONDITION: SAFE
                                    </h5>
                                {% endif %}
                                {% if health_value.condition_category == "WARNING" %}
                                    <h5 class="warning dashboard__category">
                                        CONDITION: WARNING
                                    </h5>
                                {% endif %}
                                {% if health_value.condition_category == "DANGER" %}
                                    <h5 class="danger dashboard__category">
                                        CONDITION: DANGER
                                    </h5>
                                {% endif %}
                                {% if health_value.condition_category == "BDL-SAFE" %}
                                    <h5 class="bdl-safe dashboard__category">
                                        CONDITION: BORDERLINE-SAFE
                                    </h5>
                                {% endif %}
                                {% if health_value.condition_category == "BDL-DANGER" %}
                                    <h5 class="bdl-danger dashboard__category">
                                        CONDITION: BORDERLINE-DANGER
                                    </h5>
                                {% endif %}
                            </div>
                            <hr/>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% elif non_nou %}
        <div class="dashboard__patient">
            <div class="dashboard__patient-personal">
                <div class="dashboard__patient-text">
                    <h5 class="dashboard__patient-header">
                        {% if user.account.division.lower == 'd/hcw/ms' %} 
                            Full Name
                        {% else %} 
                            Company Name
                        {% endif %} 
                    </h5>
                    <h3 class="dashboard__patient-mainline">{{user.full_com_name}}</h3>              
                    <h5 class="dashboard__patient-header">
                        Email
                    </h5>
                    <h3 class="dashboard__patient-mainline">{{user.account.email}}</h3>
                    <h5 class="dashboard__patient-header">
                        Health Care Worker/Vendor ID
                    </h5>
                    <h3 class="dashboard__patient-mainline">{{user.account.username}}</h3>
                    <h5 class="dashboard__patient-header">Registration No./License No.</h5>
                    <h3 class="dashboard__patient-mainline">
                        {{user.reg_no}}
                    </h3>
                    <h5 class="dashboard__patient-header">Account Type</h5>
                    <h3 class="dashboard__patient-mainline">
                        {% if user.account.division.lower == 'd/hcw/ms'  %}
                            Doctor/Healthcare Worker/Medical Staff
                        {% elif user.account.division.lower == 'i/sp' %}
                            Insurance/Health Service Provider
                        {% elif user.account.division.lower == 'msh' %}
                            Medical Shop/Lab
                        {% endif %}
                    </h3>                    
                    {% if user.account.division.lower == 'd/hcw/ms' and user.department %}
                        <h5 class="dashboard__patient-header">
                            Department
                        </h5>
                        <h3 class="dashboard__patient-mainline">
                            {{user.department}}
                        </h3>
                    {% endif %}
                    <h5 class="dashboard__patient-header">
                        Account Visibility
                    </h5>
                    <h3 class="dashboard__patient-mainline">
                        {% if user.public %}
                            Public
                        {% else %}
                            Private
                        {% endif %}
                    </h3>
                    {% if user.public == True %}
                        <button onclick="window.location.href='/goprivate'" >Go Private</button>
                    {% else %}
                        <button onclick="window.location.href='/gopublic'">Go Public</button>
                    {% endif %}
                </div>
                <div  id="qrcode-generated">
                    {% csrf_token %}
                    <!--    this tag will generate the qrcode, the qrcode will be sent from the backend after it's generation-->
                    <img src="" alt="Invalid Image" id="qr-image" width="200px">
                    <script>
                        function set_image(blobResponse)
                        {
                            const imageObjectURL = URL.createObjectURL(blobResponse)
                            document.getElementById("qr-image").src = imageObjectURL;
                        }
    
                        function get_qr()
                        {
                        let token = $("input[name='csrfmiddlewaretoken']").val()
                        let url = "/getQr"
                        let header = {'X-CSRFToken': token}
                        let temp = `https://${window.location.host}/`
                        let request = fetch(url, {method: "POST", headers: header, body: JSON.stringify({uid: temp+ "visit/{{ user.account.username }}"})})
                        request.then(resp => resp.blob())
                        .then(set_image)
                        }
                        $(document).ready(get_qr)
                    </script>
                </div>
            </div>
        </div>
        {% if user.contact_number or user.address or user.state or user.city or user.pincode %}
            <div class="dashboard__patient-address">
                {% if user.contact_number %}
                    <h5 class="dashboard__patient-header">
                        Contact Number
                    </h5>
                    <h3 class="dashboard__patient-mainline">{{user.contact_number}}</h3>    
                {% endif %}                  
                {% if user.address %}
                    <h5 class="dashboard__patient-header">
                        Address
                    </h5>
                    <h3 class="dashboard__patient-mainline">{{user.address}}</h3>
                {% endif %}
                {% if user.state %}
                    <h5 class="dashboard__patient-header">
                        State/UT
                    </h5>
                    <h3 class="dashboard__patient-mainline">{{user.state}}</h3>
                {% endif %}
                {% if user.city %}
                    <h5 class="dashboard__patient-header">
                        District
                    </h5>
                    <h3 class="dashboard__patient-mainline">{{user.city}}</h3>
                {% endif %}
                {% if user.pincode %}
                    <h5 class="dashboard__patient-header">
                        Pincode
                    </h5>
                    <h3 class="dashboard__patient-mainline">{{user.pincode}}</h3>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block script %}
    <script src="{% static 'health_tracker/js/health_status.js' %}"></script>
{% endblock script %}