{% extends "health_tracker/layout.html" %}
{% load static %}
{% block body %}
{% csrf_token %}
<div id="current">
    <ul id="current-msg">

    </ul>
</div>
<div id="prev">
    <ul id="prev-msg">

    </ul>
</div>
{% if division.lower != "nou"  %}
    <div id="send">
        <input id="target_user" type="text" placeholder="Enter Wbid here" value="{{default_wbid}}">
        <button id="send_msg">Ask For Approval</button>
        <script>
            function handle_send()
            {
                console.log(1)
                let token = $("input[name='csrfmiddlewaretoken']").val()
                let header = {"X-CSRFToken": token}
                let whom = $('#target_user').val()
                if(whom.length == 0)
                {
                    alert('Whom to send?')
                    return
                }
                let payload = JSON.stringify({to: whom, as: "{{ division }}", type: "send"})
                let content =
                {
                    method: "POST",
                    headers: header,
                    body: payload
                }
                let request = fetch("{% url 'notifications' %}", content)
                request.then(text => console.log(text.text()))

            }
        </script>
    </div>
{% endif %}
<script>
    function approve(btn)
        {
            let receiver_id = $(btn).attr('class').split(" ")[0]
            let sender_id = $(btn).attr('id')

            let token = $("input[name='csrfmiddlewaretoken']").val()
            let header = {"X-CSRFToken": token}
            let payload = JSON.stringify({type: "approval", "as": sender_id, "to": receiver_id, status: "yes"})
            let content = {
                method: "POST", headers: header, body: payload
            }
            console.log(receiver_id);
            console.log(sender_id);
            let request = fetch("{% url 'notifications' %}", content)
            request.then(data => {handle_rec(); console.log(data.text());})

        }
    function reject(btn)
        {
            let receiver_id = $(btn).attr('class').split(" ")[0]
            let sender_id = $(btn).attr('id')
            console.log(receiver_id);
            let token = $("input[name='csrfmiddlewaretoken']").val()
            let header = {"X-CSRFToken": token}
            let payload = JSON.stringify({type: "approval", "as": sender_id, "to": receiver_id, status:"no"})
            let content = {
                method: "POST", headers: header, body: payload
            }
            let request = fetch("{% url 'notifications' %}", content)
            request.then(data => {handle_rec()})

        }
    function handle_json(data)
        {
            $('#current-msg').html("")
            $("#prev-msg").html("")
            for(let row of data)
            {
                if(row.content == "approved" || row.content == "rejected")
                {
                    let notif_html = `
                    <li>${row.receiver} ${row.content} A Letter from ${row.sender} on ${row.doc}</li>
                                `
                    $("#prev-msg").append(notif_html)
                }
                else
                {
                    let notif_html = `
                    <div class="notif-item">
                    <li>${row.sender} Sent A Letter of ${row.content} on  ${row.doc}</li>
                    <button onclick=approve(this) id='${row.sender}' class='${row.receiver} notification'>Approve</button>
                    <button onclick=reject(this) id='${row.sender}' class='${row.receiver} notification'>Reject</button>
                                </div>`
                    $('#current-msg').append(notif_html)
                }
            }
        }
    function handle_rec()
        {
            let token = $("input[name='csrfmiddlewaretoken']").val()
            let header = {"X-CSRFToken": token}
            let payload = JSON.stringify({type: "receive"})
            let content = {
                method: "POST", headers: header, body: payload
            }
            let request = fetch("{% url 'notifications' %}", content)
            request.then((data) => {data.json().then(handle_json).catch(err => null)})
        }
    $(document).ready(()=>{
        handle_rec()
        {% if division.lower != "nou" %}
            $("#send_msg").click(handle_send)
        {% endif %}
        setInterval(handle_rec, 3000)
    })
</script>
{% endblock body %}


{% block styling %}
<link rel="stylesheet" href="{% static 'health_tracker/scss/notifs.css' %}">
{% endblock %}