{% extends "health_tracker/layout.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block styling %}
   <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>   
   <link href="{% static 'health_tracker/scss/search.css' %}" rel="stylesheet">
   <link href="{% static 'health_tracker/scss/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
   {% if profile_type == 'nou' %}
      <div class="dashboard__patient">
         <div class="dashboard__patient-personal">
            <div class="dashboard__patient-text">
               <h3>Full Name: {{profile.full_name}}</h3>
               <h3>Email: {{profile.person.email}}</h3>
               <h3>Well-Being ID: {{profile.wbid}}</h3>
               <!-- <h3>Aadhar ID: {{profile.aadharid}}</h3> -->
            </div>
            <div  id="qrcode-generated">
               {% csrf_token %}
               <!--    this tag will generate the qrcode, the qrcode will be sent from the backend after it's generation-->
                     <img src="" alt="Invalid Image" id="qr-image" width="200px">
               <script>

                     function set_image(blobResponse)
                     {
                        const imageObjectURL = URL.createObjectURL(blobResponse)
                        document.getElementById("qr-image").src = imageObjectURL;
                     }

                     function get_qr()
                     {
                     let token = $("input[name='csrfmiddlewaretoken']").val()
                     let url = "/getQr"
                     let header = {'X-CSRFToken': token}
                     let request = fetch(url, {method: "POST", headers: header, body: JSON.stringify({uid: "/visit/{{profile.person.username}}"})})
                     request.then(resp => resp.blob())
                     .then(set_image)
                     }
                     $(document).ready(get_qr)
               </script>
            </div>
         </div>  
      </div>
      {% if viewer_doctor_type and viewer in profile.hcw_v.all %}
            <div class="make_btn">
               <button class="edit" onclick="window.location.href='/health/{{profile.person.username}}'">{% if health_status.health_status.all|length == 0 %}Create{% else %}Edit{% endif %}</button>
               <button class="collapsible">{% if health_status.health_status.all|length == 0 %}Health Status does not exist!{% else %}Health Status{% endif %}&nbsp;&nbsp;<i class="fa fa-arrow-down" aria-hidden="true"></i></button>
            </div>
            <div class="dashboard__health-container content" style="margin-top: 0;">
               {% for health_value in health_status.health_status.all %}
                  <div class="dashboard__health-item">
                     <h4>
                           {{health_value.health_condition}}
                     </h4>
                     <div class="dashboard__labels container1">
                           <label id="mid{{forloop.counter}}">{{health_value.minimum_value}}</label>
                     </div>
                     <div class="container" style="width: 350px;">
                           <div 
                              id="slider{{ forloop.counter }}" 
                              class="slider" 
                              data-pos="{{ forloop.counter }}"
                              style="
                                       display: flex; 
                                       height: 25px;
                                       width: 80vw;
                                       margin: 0 auto;
                                       border: 1px solid #FFC107;
                              ">
                              <div id="custom-handle{{ forloop.counter }}" class="ui-slider-handle" style="
                              width: 3em;
                              height: 40px;
                              top: 50%;
                              text-align: center;
                              line-height: 40px;
                              margin-top: -20px;
                              z-index: 0;
                              background-color: #FFC107;
                              color: #141A26;
                              border: 1px solid #FFC107;"></div>
                              <div class="bg1" id="bg1{{forloop.counter}}""></div>
                              <div class="bg2" id="bg2{{forloop.counter}}"></div>
                              <div class="bg3" id="bg3{{forloop.counter}}"></div>
                           </div>
                     </div>
                     <div class="dashboard__labels container" style="width: 350px;">
                           <label id="mini{{forloop.counter}}">{{health_value.minimum_value}}</label>
                           <label id="maxi{{forloop.counter}}">{{health_value.maximum_value}}</label>
                     </div>
                     <label hidden id="patient{{forloop.counter}}">{{health_value.patient_value}}</label>
                     {% if health_value.condition_category == "SAFE" %}
                           <h5 class="safe dashboard__category">
                              CONDITION: {{health_value.condition_category}}
                           </h5>
                     {% endif %}
                     {% if health_value.condition_category == "WARNING" %}
                           <h5 class="warning dashboard__category">
                              CONDITION: {{health_value.condition_category}}
                           </h5>
                     {% endif %}
                     {% if health_value.condition_category == "DANGER" %}
                           <h5 class="danger dashboard__category">
                              CONDITION: {{health_value.condition_category}}
                           </h5>
                     {% endif %}
                     {% if health_value.condition_category == "BDL-SAFE" %}
                           <h5 class="bdl-safe dashboard__category">
                              CONDITION: {{health_value.condition_category}}
                           </h5>
                     {% endif %}
                     {% if health_value.condition_category == "BDL-DANGER" %}
                     <h5 class="bdl-danger dashboard__category">
                           CONDITION: {{health_value.condition_category}}
                     </h5>
                  {% endif %}
                  </div>
                  <hr/>
               {% endfor %}
            </div>         
         </div>
      <!-- If error, here add endif -->
      <!-- and here: if viewer_doctor_type and viewer in profile.hcw_v.all  -->
         {% if files %}
            <h1 class="title">All files of {{profile.full_name}} ({{profile.person.username}}):</h1>
         {% else %}
            <h1 class="title">No files to display.</h1>
         {% endif %}
      {% else %}
         <h1 class="title">Files uploaded by you on {{profile.full_name}}'s profile.</h1>
      {% endif %}
   {% else %}
      <div class="dashboard__patient">
         <div class="dashboard__patient-personal">
            <div class="dashboard__patient-text">
               <h3>
                     {% if profile.account.division.lower == 'd/hcw/ms' %} 
                        Full Name: 
                     {% else %} 
                        Company Name: 
                     {% endif %} 
                        {{profile.full_com_name}}
               </h3>
               <h3>
                     Email: {{profile.account.email}}
               </h3>
               <h3>
                     Health Care Worker/Vendor ID: {{profile.account.username}}
               </h3>
               <h3>Registration No./License No.: {{profile.reg_no}}</h3>
               {% if profile.account.division.lower == 'd/hcw/ms' %}
                     <h3>
                        Department: {{profile.department}}
                     </h3>
               {% endif %}
            </div>
            <div  id="qrcode-generated">
               {% csrf_token %}
               <!--    this tag will generate the qrcode, the qrcode will be sent from the backend after it's generation-->
                     <img src="" alt="Invalid Image" id="qr-image" width="200px">
               <script>

                     function set_image(blobResponse)
                     {
                        const imageObjectURL = URL.createObjectURL(blobResponse)
                        document.getElementById("qr-image").src = imageObjectURL;
                     }

                     function get_qr()
                     {
                     let token = $("input[name='csrfmiddlewaretoken']").val()
                     let url = "/getQr"
                     let header = {'X-CSRFToken': token}
                     let request = fetch(url, {method: "POST", headers: header, body: JSON.stringify({uid: "/visit/{{person.account.username}}"})})
                     request.then(resp => resp.blob())
                     .then(set_image)
                     }
                     $(document).ready(get_qr)
               </script>
            </div>            
         </div>
      </div>
      {% if profile in viewer.hcw_v.all %}
         {% if files %}
            <h1 class="title">All files uploaded by {{profile.full_com_name}} on your profile:</h1>
         {% else %}
            <h1 class="title">{{profile.full_com_name}} has not yet uploaded any files on your profile.</h1>
         {% endif %}
      {% else %}
         <h1 class="title">Files uploaded by {{profile.full_com_name}} on your profile:</h1>
      {% endif %}
   {% endif %}
   <div id="files_container">
         {% for file in files %}
            <div class="file_card">
               {% csrf_token %}
               <div class="inside_file_card">
                  <a style="text-decoration: none;" href="/media/{{file.file}}">
               <!-- <a href="{#% url 'file_page' file.recipent file.file %#}">kk</a> -->
                     <div class="files_container__img-card img_class" id="img{{file.id}}" data-image="{{file.file}}">
                     </div>
                     <div class="files_container__content">
                        <h5 class="file_name_class" id="file{{file.id}}" data-name={{file.file}}>{{file.file}}</h5>
                        <!-- <a href="media/{{file.file}}"><h1 class="file_name_class" id="file{{file.id}}" data-name={{file.file}}>{{file.file}}</h1></a> -->
                        <h6>Uploaded By: {% if file.uploader %} {{file.uploader.full_com_name}} {% else %} Deleted_User {% endif %}</h6>
                        <h6>Uploaded On: {{file.date}}</h6>
                     </div> 
                  </a>
                  {% if file.uploader.account == request.user %}
                     <div class="action-btns">
                        <button type="button" class="delete_file" data-pos="{{forloop.counter}}">Delete</button>
                        <button type="button" class="edit_file" data-pos="{{forloop.counter}}" onclick="window.location.href='/edit/{{file.file}}'">Edit</button>
                     </div>
                     <div class="delete_file_modal" tabindex="-1" data-pos="{{forloop.counter}}" aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal_dialog">
                           <div class="modal_content">
                              <div class="modal_header">
                                 <h5 class="modal_title">Delete File</h5>
                              </div>
                              <div class="modal-body">
                                 <p>Are you sure you want to delete</p>
                                 <p class="modal-filename" data-name="{{file.file}}">"{{file.file}}"?</p>
                              </div>
                              <div class="modal_footer">
                                 <button type="button" class="delete_file_cancel" data-pos="{{forloop.counter}}">Cancel</button>
                                 <button type="button" class="delete_file_main" data-filename="{{file.file}}" id="delete_file_main{{file.id}}">Delete</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  {% endif %}                              
               </div>
            <!-- <h1>{{file.tags|slice:"2:"}}</h1> -->
            </div>
         {% endfor %}
   </div>
{% endblock %}
{% block script %}
   <script src="{% static 'health_tracker/js/delete_file.js' %}"></script>
   <script src="{% static 'health_tracker/js/filepath_tostring.js' %}"></script>
   <script src="{% static 'health_tracker/js/image_preview.js' %}"></script>
   <script src="{% static 'health_tracker/js/health_status.js' %}"></script>
   <!-- <script>
      let delete_file_btn = document.querySelectorAll('.delete_file');
      delete_file_btn.forEach(button => {
         button.addEventListener('click', (e) => {
            e.preventDefault();
            let elearray = [...document.querySelectorAll('.delete_file_modal')];
            // console.log(elearray);
            for(let i = 0; i < elearray.length; i++){
               if(elearray[i].dataset.pos == button.dataset.pos){
                  elearray[i].style.display = 'block';
               }
            }
         });
      });

      let cancel_file_btn = document.querySelectorAll('.delete_file_cancel');
      cancel_file_btn.forEach(button => {
         button.addEventListener('click', (e) => {
            e.preventDefault();
            let elearray = [...document.querySelectorAll('.delete_file_modal')];
            // console.log(elearray);
            for(let i = 0; i < elearray.length; i++){
               if(elearray[i].dataset.pos == button.dataset.pos){
                  elearray[i].style.display = 'none';
               }
            }
         });
      });

      let delete_file_main_class = document.querySelectorAll('.delete_file_main')
      delete_file_main_class.forEach(button => {button.addEventListener('click',event => {
         let id=event.target.id.split('delete_file_main')[1]
         let file_name=button.getAttribute("data-filename")
         let to_delete="yes"

         DeleteFile(id,file_name,to_delete)
         // console.log(document.querySelector('input[name="csrfmiddlewaretoken"]').value)
      })})

      function DeleteFile(id,filename,to_delete) {
         fetch(`/delete_file/${filename}`,{
            method:"POST",
            headers:{'X-CSRFToken':document.querySelector('input[name="csrfmiddlewaretoken"]').value }, //csrf token getAttribute('content')
            body:JSON.stringify({
               to_delete:to_delete // who is the logged in dude?
            })
         })
         .then(response => response.json())
         .then(data => {
            if (data.status===200) {
               location.reload()
            }
         })
      }
   </script>
   <script>
      // document.addEventListener('DOMContentLoaded',FilePathToString);
      let file_name_class = document.querySelectorAll('.file_name_class')
      let file_name_array=[...file_name_class]
      file_name_array.forEach(element => {
         FilePathToString(element.id.slice(4),element.getAttribute("data-name"))
      })

      let file_name_modal = document.querySelectorAll('.modal-filename')
      // console.log(file_name_modal)
      let file_name_main=[...file_name_modal]
      file_name_main.forEach(element => {
         element.innerHTML = String(`${element.getAttribute('data-name')}`).split("/").slice(-1)[0];
      })
      function FilePathToString(id,file) {
         let path_name=String(`${file}`)
         let file_name=path_name.split("/").slice(-1)[0]
         document.querySelector(`#file${id}`).innerHTML=`${file_name}`;
      }
      
   </script>
   <script>
      let img_class=document.querySelectorAll('.img_class')
      let img_class_array=[...img_class]
      img_class_array.forEach(element => {
         main(element.id.slice(3),element.getAttribute("data-image"))
      })

      function handleBlob(blobResponse,id)
      {
         const imageObjectURL = URL.createObjectURL(blobResponse)
         // $("a").attr("href", imageObjectURL)
         // const code = `<img src="${imageObjectURL}">`
         // $('#files').prepend(code)
         document.querySelector(`#img${id}`).style.backgroundImage=`url(${imageObjectURL})`
      }

      function main(id,file_path)
      {
         let token = $("input[name='csrfmiddlewaretoken']").val()
         // let url = "/get_file/{{ wbid }}/{{ name }}"
         let url = `/get_file/${file_path}`
         let header = {'X-CSRFToken': token}
         let request = fetch(url, {method: "POST", headers: header})
         // request.then(resp => resp.blob()).then(handleBlob)
         request.then(resp => resp.blob())
         .then((blobResponse) => {this.handleBlob(blobResponse,`${id}`)} )
      }
      $(document).ready(main)
   </script> -->
   <script>
      document.getElementsByClassName("collapsible")[0].addEventListener("click", () => {
         let content = document.getElementsByClassName('content')[0];
         if (content.style.maxHeight){
            content.style.maxHeight = null;
            $('.fa').toggleClass('fa-arrow-down')
            $('.fa').toggleClass('fa-arrow-up')
         } else {
            content.style.maxHeight = content.scrollHeight + "px";
            $('.fa').toggleClass('fa-arrow-down')
            $('.fa').toggleClass('fa-arrow-up')
         }
      });
    </script>
{% endblock %}