{% extends "health_tracker/layout.html" %}
{% load static %}
{% block styling %}
<link rel="stylesheet" href="{% static 'health_tracker/scss/register.css' %}">
{% endblock %}
{% block title %}Register{% endblock %}
{% block body %}
    <h1 hidden>{% csrf_token %}</h1>
    <div class="color-bg" id="particles-js"></div> 
        <svg height="100vh" style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" xmlns:vectornator="http://vectornator.io" version="1.1" viewBox="0 0 319.7 1439.36">
        <g id="Layer 1" vectornator:layerName="Layer 1">
        <path d="M251.02+1440.32L235.02+1410.32C219.02+1380.32+187.02+1320.32+176.32+1260.32C166.02+1200.32+176.02+1140.32+176.32+1080.32C176.02+1020.32+166.02+960.321+139.02+900.321C112.02+840.321+70.0197+780.321+53.7197+720.321C38.0197+660.321+48.0197+600.321+85.7197+540.321C123.02+480.321+187.02+420.321+197.72+360.321C208.02+300.321+166.02+240.321+165.72+180.321C166.02+120.321+208.02+60.3207+229.72+30.3207L251.02+0.320656L-4.98031+0.320645L-4.98031+30.3206C-4.98032+60.3206-4.98032+120.321-4.98032+180.321C-4.98032+240.321-4.98033+300.321-4.98033+360.321C-4.98033+420.321-4.98033+480.321-4.98034+540.321C-4.98034+600.321-4.98034+660.321-4.98034+720.321C-4.98035+780.321-4.98035+840.321-4.98035+900.321C-4.98035+960.321-4.98036+1020.32-4.98036+1080.32C-4.98036+1140.32-4.98036+1200.32-4.98037+1260.32C-4.98037+1320.32-4.98037+1380.32-4.98037+1410.32L-4.98038+1440.32L251.02+1440.32Z" opacity="1" fill="#cb9800"/>
        </g>
    </svg>
    {% if message %}
        <div class="empty">{{ message }}</div>
    {% endif %}
    <div class="form-main"> 
        <div>
            <div class="title-div">
                <img class="login-logo" src="{% static 'health_tracker/uhi.png' %}" onclick="window.location.replace('/')">
                <h2>Register</h2>
            </div>
        </div> 
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Register" class="register-btn">
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
    </div>
{% endblock %}

{% block script %}
<!-- <script src="{% static 'health_tracker/js/register/main.js' %}"></script> -->
<script>
    let json_string = `{
  "particles": {
    "number": {
      "value": 80,
      "density": {
        "enable": true,
        "value_area": 800
      }
    },
    "color": {
      "value": "#ffffff"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.5,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 7,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 150,
      "color": "#ffffff",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 6,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": false,
        "mode": "repulse"
      },
      "onclick": {
        "enable": false,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 400,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
}`

let b = new Blob([json_string], {type: "application/json"})
let url = URL.createObjectURL(b)
console.log(url);
particlesJS.load('particles-js', url, function()
{
    console.log("worked");
})
</script>
<script src="{% static 'health_tracker/js/register/register.js' %}"></script>
{% endblock script %}